#!/usr/bin/make -f
#export DH_VERBOSE = 1
export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed


%:
	dh $@ --with python2

override_dh_install:
	dh_install
	cp pdf.py debian/jbig2enc/usr/bin/jbig2pdf

