#!/usr/bin/make -f
# -*- makefile -*-

ifneq (,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
	NCPUS = $(patsubst parallel=%,%,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
endif

ifeq (,$(NCPUS))
	NCPUS := $(shell getconf _NPROCESSORS_ONLN 2>/dev/null || echo 1)
endif

ifeq ($(NCPUS),-1)
	NCPUS:=1
endif

ifeq ($(NCPUS),0)
	NCPUS:=1
endif

ifneq (,$(filter noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
endif

ifneq (,$(filter lzma,$(DEB_BUILD_OPTIONS)))
	BUILDDEBFLAGS= -- -Zlzma -z9
endif

ifneq (,$(filter xz,$(DEB_BUILD_OPTIONS)))
	BUILDDEBFLAGS= -- -Zxz -z9
endif

confflags = --prefix=/usr

configure: configure-stamp
configure-stamp:
	dh_testdir
	./configure $(confflags)
	touch $@
build: configure build-stamp
build-stamp:
	dh_testdir
	$(MAKE) -j$(NCPUS)
	touch $@
clean: do-clean
do-clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	test ! -f Makefile || $(MAKE) clean
	dh_clean
install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs
	$(MAKE) install DESTDIR=$(CURDIR)/debian/tmp
binary-indep: build install
binary-arch: build install
	dh_testdir
	dh_testroot
	cd debian/tmp/usr/share/man && find . -type f -exec gzip -d {} \;
	#cd debian/tmp/usr/lib* && find . -type f -exec chmod 644 {} \;
	#cd debian/tmp/usr/bin && find . -type f -exec chmod 755 {} \;
	dh_install
	dh_installdocs
	dh_installman
	dh_installchangelogs ChangeLog
ifeq (,$(filter nostrip,$(DEB_BUILD_OPTIONS)))
	dh_strip
endif
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_makeshlibs
	dh_shlibdeps
	dh_installdebconf
	dh_gencontrol
	dh_md5sums
	dh_builddeb $(BUILDDEBFLAGS)

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure patch unpatch do-clean
