#!/usr/bin/make -f

DEB_HOST_ARCH_OS	?= $(shell dpkg-architecture -qDEB_HOST_ARCH_OS)

ifeq (kfreebsd,$(DEB_HOST_ARCH_OS))
export QPXTRANSPORT_EXTRA_LIBS="-lcam"
endif

ifneq (,$(filter lzma,$(DEB_BUILD_OPTIONS)))
	BUILDDEBFLAGS= -- -Zlzma -z9
endif

ifneq (,$(filter xz,$(DEB_BUILD_OPTIONS)))
	BUILDDEBFLAGS= -- -Zxz -z9
endif

override_dh_builddeb:
	dh_builddeb $(BUILDDEBFLAGS)

%:
	dh $@

override_dh_auto_clean:
	[ ! -f Makefile ] || $(MAKE) QMAKE4=qmake-qt4 clean

override_dh_auto_install:
	dh_auto_install
	install -D -m 0644 debian/pixmap/qpxtool.xpm debian/qpxtool/usr/share/pixmaps/qpxtool.xpm
	# Uncompress manpages (they are not max compressed)
	gunzip debian/tmp/usr/share/man/man*/*.gz

