Source: psi-plus-l10n
Section: net
Priority: optional
Maintainer: Alexander Pozdnyakov <almipo@mail.ru>
Build-Depends: debhelper (>= 9), qtbase5-dev, qttools5-dev-tools
Homepage: https://github.com/psi-plus/psi-plus-l10n
Standards-Version: 4.5.1
Rules-Requires-Root: no

Package: psi-plus-l10n
Section: localization
Architecture: all
Depends: psi-plus | psi-plus-webkit, ${misc:Depends}
Description: localization files for Psi+
 This package contains localization files for Psi+.
 .
 If you want to add new or update any existing translation see:
 https://github.com/psi-plus/psi-plus-l10n
 https://www.transifex.com/tehnick/psi-plus/
 .
 Psi IM is a capable XMPP client aimed at experienced users. There are
 keybindings for just about everything, Unicode is supported throughout,
 contacts are cached offline. Security is also a major consideration, and
 Psi IM provides it for both client-to-server (TLS) and client-to-client
 (GnuPG, OTR, OMEMO).
 .
 Psi+ is a development branch of Psi IM. Project purposes are:
 implementation of new features, writing of patches and plugins for
 transferring them to Psi IM.
 .
 List of supported XEPs you may found at:
 https://github.com/psi-im/psi/wiki/Supported-XEPs
 .
 Full list of Psi+ features you may found at:
 https://psi-plus.com/wiki/en:features
