#!/usr/bin/make -f

DEBIAN_CODENAME = $(shell echo $$DIST)
ifeq "$(DEBIAN_CODENAME)" ""
	DEBIAN_CODENAME = $(shell dpkg-parsechangelog | awk '/^Distribution: / {print $$2}')
endif
ifneq (,$(filter $(DEBIAN_CODENAME),lucid karmic)) 
	BUILDDEBFLAGS= -- -Zlzma -z9
else
	BUILDDEBFLAGS= -- -Zxz -z9
endif

PACKAGE = psi-plus-l10n

%:
	dh $@ --parallel

override_dh_auto_build:
	./update-translations.sh make

override_dh_auto_install:
	mkdir -p $(CURDIR)/debian/$(PACKAGE)/usr/share/psi-plus/translations/
	cp out/*.qm $(CURDIR)/debian/$(PACKAGE)/usr/share/psi-plus/translations/

override_dh_auto_clean:
	dh_clean
	rm -f out/* translations.pro

override_dh_builddeb:
	dh_builddeb $(BUILDDEBFLAGS)
