Source: llpp
Section: text
Priority: optional
Maintainer: Alexander Pozdnyakov <almipo@mail.ru>
Build-Depends: debhelper (>= 8.0.0), ocaml, git, camlp4, mesa-common-dev, libglu1-mesa-dev, libfreetype6-dev, pkg-config, libjpeg62-dev,  libjbig2dec0-dev, libopenjpeg-dev, libcrypto++-dev, libssl-dev, libxext-dev, wget
Standards-Version: 3.9.3
Homepage: http://repo.or.cz/w/llpp.git

Package: llpp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: lightweight PDF viewer
 Lightweight but fast and featureful PDF viewer based on MuPDF
