Source: llpp
Section: text
Priority: optional
Maintainer: Alexander Pozdnyakov <almipo@mail.ru>
Build-Depends: debhelper (>= 8.0.0), git, mesa-common-dev,
 libglu1-mesa-dev, libfreetype6-dev, pkg-config, libjpeg-dev,  
 libjbig2dec0-dev, libopenjpeg-dev | libopenjp2-7-dev, libcrypto++-dev, libssl-dev, 
 libxext-dev, wget, libxcursor-dev, libxrandr-dev, libxinerama-dev, bc, libglib2.0-dev
Standards-Version: 3.9.8
Homepage: http://repo.or.cz/w/llpp.git

Package: llpp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: lightweight PDF viewer
 Lightweight but fast and featureful PDF viewer based on MuPDF
