#!/usr/bin/make -f
export DH_VERBOSE=1

DEBIAN_CODENAME = $(shell echo $$DIST)
ifeq "$(DEBIAN_CODENAME)" ""
	DEBIAN_CODENAME = $(shell dpkg-parsechangelog | awk '/^Distribution: / {print $$2}')
endif

ifneq (,$(filter $(DEBIAN_CODENAME),lucid karmic)) 
	BUILDDEBFLAGS= -- -Zlzma -z9
else
	BUILDDEBFLAGS= -- -Zxz -z9
endif

CPPFLAGS:=$(shell dpkg-buildflags --get CPPFLAGS)
CFLAGS:=$(shell dpkg-buildflags --get CFLAGS)
CXXFLAGS:=$(shell dpkg-buildflags --get CXXFLAGS)
LDFLAGS:=$(shell dpkg-buildflags --get LDFLAGS)

export CPPFLAGS CFLAGS CXXFLAGS LDFLAGS

%:
	dh $@ 

override_dh_strip:


override_dh_auto_build:
	mkdir $(CURDIR)/build-ocaml
	#sed 's/^set\ \-eu/set\ \-eux/' -i build.bash
	cd $(CURDIR)/ocaml && \
	./configure -prefix $(CURDIR)/build-ocaml && \
	make -j 3 world && make install
	cd mupdf && make -j 3 build=native libs
	PATH="$(CURDIR)/build-ocaml/bin:${PATH}" bash build.bash build man
