#!/usr/bin/make -f
#export DH_VERBOSE=1

DEBIAN_CODENAME = $(shell echo $$DIST)
ifeq "$(DEBIAN_CODENAME)" ""
	DEBIAN_CODENAME = $(shell dpkg-parsechangelog | awk '/^Distribution: / {print $$2}')
endif
ifneq (,$(filter $(DEBIAN_CODENAME),lucid karmic)) 
	BUILDDEBFLAGS= -- -Zlzma -z9
else
	BUILDDEBFLAGS= -- -Zxz -z9
endif

%:
	dh $@ --with python2

override_dh_builddeb:
	dh_builddeb $(BUILDDEBFLAGS)

override_dh_install:
	dh_install
	cd $(CURDIR)/debian/pytyle/usr/lib/python2.*/dist-packages/PyTyle && \
		chmod a-x  INSTALL TODO README pytylerc CHANGELOG
	chmod a-x $(CURDIR)/debian/pytyle/usr/share/pytyle/pytylerc
