#!/usr/bin/make -f
#export DH_VERBOSE=1

ifneq (,$(filter lzma,$(DEB_BUILD_OPTIONS)))
	BUILDDEBFLAGS= -- -Zlzma -z9
endif

ifneq (,$(filter xz,$(DEB_BUILD_OPTIONS)))
	BUILDDEBFLAGS= -- -Zxz -z9
endif

%:
	dh $@ --with python2

override_dh_builddeb:
	dh_builddeb $(BUILDDEBFLAGS)

override_dh_install:
	dh_install
	cd $(CURDIR)/debian/pytyle/usr/lib/python2.*/dist-packages/PyTyle && \
		chmod a-x  INSTALL TODO README pytylerc CHANGELOG
	chmod a-x $(CURDIR)/debian/pytyle/usr/share/pytyle/pytylerc
