Source: ppastats
Section: misc
Priority: optional
Maintainer: Alexander Pozdnyakov <almipo@mail.ru>
Build-Depends: debhelper (>= 9), autotools-dev, libcurl4-gnutls-dev, 
 pkg-config, libjson-c-dev, help2man, cppcheck
Standards-Version: 3.9.7
Homepage: http://wpitchoune.net/blog/ppastats/
Rules-Requires-Root: no

Package: ppastats
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Generates HTML pages containing statistics about a PPA
 PPAStats is a command line tool which retrieves statistics of a PPA
 and generates HTML pages.
