Source: vacuum-dbusnotifications
Section: net
Priority: optional
Maintainer: Alexander Pozdnyakov <almipo@mail.ru>
Build-Depends: debhelper (>= 7.0.50~), openssl, libqtwebkit-dev | libqt4-dev, libx11-dev, nas, zlib1g-dev, vacuum-dev, cmake
Standards-Version: 3.9.3
Homepage: http://code.google.com/p/vacuum-plugins/

Package: vacuum-dbusnotifications
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Plugin for Vacuum-IM
 DBus popup notifications  
