Source: quneiform
Section: graphics
Priority: optional
Maintainer: Alexander Pozdnyakov <almipo@mail.ru>
Build-Depends: debhelper (>= 7.0.50~), 
				cmake, 
				libmagick++-dev | libmagick++9-dev, 
				libboost-dev, 
				qt4-dev-tools, 
				qt4-qmake, 
				libqt4-dev, 
				libboost-filesystem-dev, 
				python-dev, 
				libaspell-dev, 
				doxygen, 
				libboost-serialization-dev
Standards-Version: 3.9.3
Homepage: https://launchpad.net/cuneiform-linux

Package: cuneiform-refactoring
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, cuneiform-refactoring-common, libcuneiform0.2
Conflicts: cuneiform, cuneiform-linux
Description: multi-language OCR system
 Cuneiform is an multi-language OCR system originally 
 developed and open sourced by Cognitive Technologies. Cuneiform was
 originally a Windows program, which was ported to Linux by Jussi Pakkanen

Package: cuneiform-refactoring-common
Architecture: all
Depends: ${misc:Depends}
Suggests: cuneiform-refactoring
Conflicts: cuneiform-common
Description: Data files for cuneiform-linux
 Cuneiform is an multi-language OCR system originally 
 developed and open sourced by Cognitive Technologies. Cuneiform was
 originally a Windows program, which was ported to Linux by Jussi Pakkanen

Package: libcuneiform0.2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: cuneiform, cuneiform-linux
Description: multi-language OCR system (shared library)
 Cuneiform is an multi-language OCR system originally 
 developed and open sourced by Cognitive Technologies. Cuneiform was
 originally a Windows program, which was ported to Linux by Jussi Pakkanen


Package: libcuneiform0.2-dev
Architecture: all
Section: libdevel
Depends: ${misc:Depends}
Suggests: cuneiform-refactoring
Description: Development files for cuneiform
 Cuneiform is an multi-language OCR system originally 
 developed and open sourced by Cognitive Technologies. Cuneiform was
 originally a Windows program, which was ported to Linux by Jussi Pakkanen

Package: quneiform
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, cuneiform-refactoring
Description: graphical front-end for cuneiform
 Quneiform is a graphical interface for the cuneiform text recognition
 program on the  Linux platform. 
