#!/usr/bin/make -f
export DH_VERBOSE=1 

DEBIAN_CODENAME = $(shell echo $$DIST)
ifeq "$(DEBIAN_CODENAME)" ""
	DEBIAN_CODENAME = $(shell dpkg-parsechangelog | awk '/^Distribution: / {print $$2}')
endif
ifneq (,$(filter $(DEBIAN_CODENAME),lucid karmic)) 
	BUILDDEBFLAGS= -- -Zlzma -z9
else
	BUILDDEBFLAGS= -- -Zxz -z9
endif

%:
	dh $@ --parallel

override_dh_auto_configure:
	dh_auto_configure -- -DTESTS=No -DCMAKE_BUILD_TYPE=Debug

override_dh_builddeb:
	dh_builddeb $(BUILDDEBFLAGS)

override_dh_strip:
ifeq (,$(filter nostrip,$(DEB_BUILD_OPTIONS)))
	dh_strip
endif

override_dh_installman:
	cp $(CURDIR)/doc/cuneiform_en.1 cuneiform.1
	dh_installman
