Source: cuneiform-linux
Section: non-free/graphics
Priority: optional
Maintainer: Alexander Pozdnyakov <almipo@mail.ru>
Build-Depends: debhelper (>= 7.4.10~), dpkg-dev (>= 1.16), cmake (>= 2.8.2),
  libgraphicsmagick++1-dev, pkg-config, quilt
Standards-Version: 3.9.7
Homepage: https://launchpad.net/cuneiform-linux

Package: cuneiform-linux
Architecture: any
Depends: cuneiform-common, ${shlibs:Depends}, ${misc:Depends}
Replaces: cuneiform-common
Description: multi-language OCR system
 Cuneiform is an multi-language OCR system originally 
 developed and open sourced by Cognitive Technologies. Cuneiform was
 originally a Windows program, which was ported to Linux by Jussi Pakkanen

Package: cuneiform-common
Architecture: all
Depends: ${misc:Depends}
Suggests: cuneiform-linux
Description: Data files for cuneiform-linux
 Cuneiform is an multi-language OCR system originally 
 developed and open sourced by Cognitive Technologies. Cuneiform was
 originally a Windows program, which was ported to Linux by Jussi Pakkanen
