Source: vacuum-unityintegration
Section: net
Priority: optional
Maintainer: Alexander Pozdnyakov <almipo@mail.ru>
Build-Depends: debhelper (>= 7), openssl, libqt4-dev, libx11-dev, zlib1g-dev, vacuum-dev, libdbusmenu-qt-dev, cmake, libdbusmenu-qt-dev, pkgconfig 
Standards-Version: 3.9.2
Homepage: http://code.google.com/p/vacuum-plugins/

Package: vacuum-unityintegration
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: vacuum-plugins-gmailnotify
Description: Plugin for Vacuum-IM
  Plugin for unity integration
