#!/usr/bin/make -f
# -*- makefile -*-
export DH_VERBOSE=1

ifneq (,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
	NUMJOBS = $(patsubst parallel=%,%,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
endif

ifeq (,$(NUMJOBS))
	NUMJOBS = 1
endif

%:
	dh $@ --parallel 

override_dh_auto_build:
	cd src && $(MAKE) -j$(NUMJOBS)

override_dh_auto_clean:
	cd src && test ! -f Makefile || $(MAKE) clean
	dh_auto_clean
