#!/usr/bin/make -f
# -*- makefile -*-
#export DH_VERBOSE=1

NCPUS=2
export WX_ROOT=$(shell pwd)/wx

DEBIAN_CODENAME = $(shell echo $$DIST)
ifeq "$(DEBIAN_CODENAME)" ""
	DEBIAN_CODENAME = $(shell dpkg-parsechangelog | awk '/^Distribution: / {print $$2}')
endif
ifneq (,$(filter $(DEBIAN_CODENAME),stretch sid vivid wily xenial)) 
	export CC=gcc-4.9
	export CXX=g++-4.9
else
	export CC=gcc
	export CXX=g++
endif

%:
	dh $@ --parallel 

override_dh_auto_build:
	cd src && $(MAKE) -j$(NCPUS) wxbuild
	cd src && $(MAKE) -j$(NCPUS) WXSTATIC=1


override_dh_auto_clean:
	cd src && test ! -f Makefile || $(MAKE) clean
	dh_auto_clean
