#!/usr/bin/make -f
export DH_VERBOSE=1

DEBIAN_CODENAME = $(shell echo $$DIST)
ifeq "$(DEBIAN_CODENAME)" ""
	DEBIAN_CODENAME = $(shell dpkg-parsechangelog | awk '/^Distribution: / {print $$2}')
endif

CONTROL = control.qt5
export QT_SELECT=5

Q_CPPFLAGS:=$(shell dpkg-buildflags --get CPPFLAGS)
Q_CFLAGS:=$(shell dpkg-buildflags --get CFLAGS) $(Q_CPPFLAGS)
Q_CXXFLAGS:=$(shell dpkg-buildflags --get CXXFLAGS) $(Q_CPPFLAGS)
Q_LDFLAGS:=$(shell dpkg-buildflags --get LDFLAGS) -Wl,--as-needed
export Q_CPPFLAGS Q_CFLAGS Q_CXXFLAGS Q_LDFLAGS

Q_OPTS = "QMAKE_CXXFLAGS += $(Q_CXXFLAGS)" \
         "QMAKE_CFLAGS_DEBUG += $(Q_CFLAGS)" \
         "QMAKE_CFLAGS_RELEASE += $(Q_CFLAGS)" \
         "QMAKE_LFLAGS += $(Q_LDFLAGS)"

%:
	dh $@ --parallel

override_dh_auto_configure:
	cp debian/$(CONTROL) debian/control
	dh_auto_configure -- $(Q_OPTS)

override_dh_install:
	cp release/qt-box-editor-* qt-box-editor
	dh_install
	rm qt-box-editor

override_dh_auto_clean:
	cp debian/$(CONTROL) debian/control
	dh_auto_clean


override_dh_builddeb:
	dh_builddeb -- -Zxz -z9

