#!/usr/bin/make -f

CMAKEOPTS = -DBUNDLE_PROJECTM_PRESETS=OFF \
	-DSTATIC_SQLITE=ON \
	-DCMAKE_CXX_FLAGS="-DQT_NO_DEBUG_OUTPUT -DQT_NO_WARNING_OUTPUT"

CMAKEOPTS += -DUSE_SYSTEM_PROJECTM=ON \
	-DUSE_SYSTEM_QXT=ON \
	-DQXTCORE_INCLUDE_DIRS=/usr/include/qxt/QxtCore/ \
	-DQXTGUI_INCLUDE_DIRS=/usr/include/qxt/QxtGui/

BUILDDEBFLAGS = -- -Zxz -z9

%:
	dh $@ --buildsystem=cmake --parallel

override_dh_builddeb:
	dh_builddeb $(BUILDDEBFLAGS)

override_dh_auto_configure:
	dh_testdir
	dh_auto_configure -- $(CMAKEOPTS)

override_dh_auto_build:
	docbook-to-man debian/clementine.sgml > debian/clementine.1
	dh_auto_build

override_dh_auto_clean:
	rm -f debian/clementine.1
	dh_auto_clean

override_dh_installchangelogs:
	dh_installchangelogs Changelog

override_dh_auto_test:


