#!/usr/bin/make -f
#export DH_VERBOSE=1

ifneq (,$(filter lzma,$(DEB_BUILD_OPTIONS)))
	BUILDDEBFLAGS= -- -Zlzma -z9
endif

ifneq (,$(filter xz,$(DEB_BUILD_OPTIONS)))
	BUILDDEBFLAGS= -- -Zxz -z9
endif

export CC=/usr/bin/gcc-4.6

%:
	dh $@ --parallel

override_dh_auto_configure:
	lrelease znotes.pro
	dh_auto_configure

override_dh_builddeb:
	dh_builddeb $(BUILDDEBFLAGS)
