Source: tesseract-lang
Section: graphics
Priority: optional
Maintainer: Alexander Pozdnyakov <almipo@mail.ru>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: http://code.google.com/p/tesseract-ocr/

Package: tesseract-ocr-lang
Architecture: all
Depends: ${misc:Depends}, tesseract-ocr
Description: tesseract-ocr language files
 Indonesian, Swedish, Romanian, Slovenian,
 Serbian, Tagalog, Turkish, Hungarian, Finnish, Italian,
 Dutch, Norwegian, Spanish, Ukrainian, French, Slovakian,
 Greek, Russian, Portuguese, Latvian, Lithuanian, Polish,
 Danish (Fraktur), German, German, Danish, Czech, Catalan,
 English language data for Tesseract (3.00 and up) 
