#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

#CXXFLAGS=-D__STDC_CONSTANT_MACROS
#LDFLAGS=-Wl,--as-needed

#CXXFLAGS=-D__STDC_CONSTANT_MACROS
LDFLAGS=-lz

%:
	dh --with quilt $@

#override_dh_auto_configure:
#	autoreconf
#	dh_auto_configure -- \
#		CXXFLAGS="$(CXXFLAGS)" LDFLAGS="$(LDFLAGS)" \
#		--with-external-libass \
#		--with-alsa --with-pulseaudio --with-player-audio=oss \
#		--without-portaudio --without-openal \
#		--without-ruby --without-perl

override_dh_auto_configure:
	autoreconf -fiv
	dh_auto_configure -- LDFLAGS="$(LDFLAGS)"

override_dh_auto_test:
	:
