#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

LDFLAGS=-lz

%:
	dh --with quilt --parallel $@

override_dh_auto_configure:
	autoreconf -fiv
	dh_auto_configure -- LDFLAGS="$(LDFLAGS)"

override_dh_auto_test:
	:
