Source: vacuum
Section: net
Priority: optional
Maintainer: Alexander Pozdnyakov <almipo@mail.ru>
Build-Depends: debhelper (>= 7), openssl, libqt4-dev, libx11-dev, nas, zlib1g-dev
Standards-Version: 3.8.3
Homepage: http://code.google.com/p/vacuum-im/

Package: vacuum
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, nas
Description: Jabber client using Qt
 Vacuum is a free instant messaging application designed for the Jabber
 (XMPP) IM network (including Google Talk). It has full Unicode support, 
 and supports most important XMPP features.

