#!/usr/bin/make -f
#DH_VERBOSE = 1

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

%:
	dh $@  --with autotools-dev --parallel

override_dh_auto_configure:
	dh_testdir
	./autogen.sh
	dh_auto_configure

override_dh_auto_test:
