#!/usr/bin/make -f

ifneq (,$(filter lzma,$(DEB_BUILD_OPTIONS)))
	BUILDDEBFLAGS= -- -Zlzma -z9
endif

ifneq (,$(filter xz,$(DEB_BUILD_OPTIONS)))
	BUILDDEBFLAGS= -- -Zxz -z9
endif

%:
	dh $@ --parallel

override_dh_builddeb:
	dh_builddeb $(BUILDDEBFLAGS)

override_dh_install:
	dh_install
	rm $(CURDIR)/debian/autopano-sift-c/usr/bin/*.sh
