Source: tesseract
Section: graphics
Priority: optional
Maintainer: Alexander Pozdnyakov <almipo@mail.ru>
Build-Depends: debhelper (>= 7.0.50~), 
                libtool, 
                automake, 
                libleptonica-dev,
Standards-Version: 3.9.3
Homepage: http://code.google.com/p/tesseract-ocr/

Package: tesseract-ocr-dev
Depends: libtesseract-dev, ${misc:Depends}
Architecture: all
Section: oldlibs
Description: transitional dummy package
 This is a transitional dummy package.

Package: libtesseract-dev
Section: libdevel
Architecture: any
Depends: libtesseract3 (= ${binary:Version}), ${misc:Depends}
Replaces: tesseract-ocr-dev (<< 3.0.1-1~)
Breaks: tesseract-ocr-dev (<< 3.0.1-1~)
Description: Development files for the tesseract command line OCR tool
 The Tesseract OCR engine was one of the top 3 engines in the 1995
 UNLV Accuracy test. Between 1995 and 2006 it had little work done on
 it, but since then it has been improved extensively by Google and is
 probably one of the most accurate open source OCR engines
 available. It can read a wide variety of image formats and convert
 them to text in over 40 languages.

Package: libtesseract3
Breaks: tesseract-ocr (<< 3.01~), ocropus (<< 0.4.0~)
Replaces: tesseract-ocr (<< 3.01~)
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Command line OCR tool
 The Tesseract OCR engine was one of the top 3 engines in the 1995
 UNLV Accuracy test. Between 1995 and 2006 it had little work done on
 it, but since then it has been improved extensively by Google and is
 probably one of the most accurate open source OCR engines
 available. It can read a wide variety of image formats and convert
 them to text in over 40 languages.

Package: tesseract-ocr
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, tesseract-ocr-eng, libtesseract3
Replaces: tesseract-ocr-data
Description: Command line OCR tool
 The Tesseract OCR engine was one of the top 3 engines in the 1995
 UNLV Accuracy test. Between 1995 and 2006 it had little work done on
 it, but since then it has been improved extensively by Google and is
 probably one of the most accurate open source OCR engines
 available. It can read a wide variety of image formats and convert
 them to text in over 40 languages.

Package: tesseract-ocr-bul
Architecture: all
Provides: tesseract-ocr-language, tesseract-ocr-lang
Depends: ${misc:Depends}
Recommends: tesseract-ocr (>= 3.00)
Description: tesseract-ocr language files for Bulgarian text
 A commercial quality OCR engine originally developed at HP between 1985
 and 1995. In 1995, this engine was among the top 3 evaluated by UNLV. It
 was open-sourced by HP and UNLV in 2005. This package contains the data
 needed for processing images in Bulgarian.

Package: tesseract-ocr-cat
Architecture: all
Provides: tesseract-ocr-language, tesseract-ocr-lang
Depends: ${misc:Depends}
Recommends: tesseract-ocr (>= 3.00)
Description: tesseract-ocr language files for Catalan text
 A commercial quality OCR engine originally developed at HP between 1985
 and 1995. In 1995, this engine was among the top 3 evaluated by UNLV. It
 was open-sourced by HP and UNLV in 2005. This package contains the data
 needed for processing images in Catalan.
 
Package: tesseract-ocr-ces
Architecture: all
Provides: tesseract-ocr-language, tesseract-ocr-lang
Depends: ${misc:Depends}
Recommends: tesseract-ocr (>= 3.00)
Description: tesseract-ocr language files for Czech text
 A commercial quality OCR engine originally developed at HP between 1985
 and 1995. In 1995, this engine was among the top 3 evaluated by UNLV. It
 was open-sourced by HP and UNLV in 2005. This package contains the data
 needed for processing images in Czech.

Package: tesseract-ocr-dan-frak
Architecture: all
Provides: tesseract-ocr-language, tesseract-ocr-lang
Depends: ${misc:Depends}
Recommends: tesseract-ocr (>= 3.00)
Description: tesseract-ocr language files for Danish (Fraktur) text
 A commercial quality OCR engine originally developed at HP between 1985
 and 1995. In 1995, this engine was among the top 3 evaluated by UNLV. It
 was open-sourced by HP and UNLV in 2005. This package contains the data
 needed for processing images in Danish (Fraktur).
 
Package: tesseract-ocr-dan
Architecture: all
Provides: tesseract-ocr-language, tesseract-ocr-lang
Depends: ${misc:Depends}
Recommends: tesseract-ocr (>= 3.00)
Description: tesseract-ocr language files for Danish text
 A commercial quality OCR engine originally developed at HP between 1985
 and 1995. In 1995, this engine was among the top 3 evaluated by UNLV. It
 was open-sourced by HP and UNLV in 2005. This package contains the data
 needed for processing images in Danish.

Package: tesseract-ocr-deu
Architecture: all
Provides: tesseract-ocr-language, tesseract-ocr-lang
Depends: ${misc:Depends}
Recommends: tesseract-ocr (>= 3.00)
Description: tesseract-ocr language files for German text
 A commercial quality OCR engine originally developed at HP between 1985
 and 1995. In 1995, this engine was among the top 3 evaluated by UNLV. It
 was open-sourced by HP and UNLV in 2005. This package contains the data
 needed for processing images in German.
 
Package: tesseract-ocr-ell
Architecture: all
Provides: tesseract-ocr-language, tesseract-ocr-lang
Depends: ${misc:Depends}
Recommends: tesseract-ocr (>= 3.00)
Description: tesseract-ocr language files for Greek text
 A commercial quality OCR engine originally developed at HP between 1985
 and 1995. In 1995, this engine was among the top 3 evaluated by UNLV. It
 was open-sourced by HP and UNLV in 2005. This package contains the data
 needed for processing images in Greek.
 
Package: tesseract-ocr-eng
Architecture: all
Provides: tesseract-ocr-language, tesseract-ocr-lang
Depends: ${misc:Depends}
Recommends: tesseract-ocr (>= 3.00)
Description: tesseract-ocr language files for English text
 A commercial quality OCR engine originally developed at HP between 1985
 and 1995. In 1995, this engine was among the top 3 evaluated by UNLV. It
 was open-sourced by HP and UNLV in 2005. This package contains the data
 needed for processing images in English.
 
Package: tesseract-ocr-fin
Architecture: all
Provides: tesseract-ocr-language, tesseract-ocr-lang
Depends: ${misc:Depends}
Recommends: tesseract-ocr (>= 3.00)
Description: tesseract-ocr language files for Finnish text
 A commercial quality OCR engine originally developed at HP between 1985
 and 1995. In 1995, this engine was among the top 3 evaluated by UNLV. It
 was open-sourced by HP and UNLV in 2005. This package contains the data
 needed for processing images in Finnish.
 
Package: tesseract-ocr-fra
Architecture: all
Provides: tesseract-ocr-language, tesseract-ocr-lang
Depends: ${misc:Depends}
Recommends: tesseract-ocr (>= 3.00)
Description: tesseract-ocr language files for French text
 A commercial quality OCR engine originally developed at HP between 1985
 and 1995. In 1995, this engine was among the top 3 evaluated by UNLV. It
 was open-sourced by HP and UNLV in 2005. This package contains the data
 needed for processing images in French.
 
Package: tesseract-ocr-hun
Architecture: all
Provides: tesseract-ocr-language, tesseract-ocr-lang
Depends: ${misc:Depends}
Recommends: tesseract-ocr (>= 3.00)
Description: tesseract-ocr language files for Hungarian text
 A commercial quality OCR engine originally developed at HP between 1985
 and 1995. In 1995, this engine was among the top 3 evaluated by UNLV. It
 was open-sourced by HP and UNLV in 2005. This package contains the data
 needed for processing images in Hungarian.
 
Package: tesseract-ocr-ind
Architecture: all
Provides: tesseract-ocr-language, tesseract-ocr-lang
Depends: ${misc:Depends}
Recommends: tesseract-ocr (>= 3.00)
Description: tesseract-ocr language files for Indonesian text
 A commercial quality OCR engine originally developed at HP between 1985
 and 1995. In 1995, this engine was among the top 3 evaluated by UNLV. It
 was open-sourced by HP and UNLV in 2005. This package contains the data
 needed for processing images in Indonesian.
 
Package: tesseract-ocr-ita
Architecture: all
Provides: tesseract-ocr-language, tesseract-ocr-lang
Depends: ${misc:Depends}
Recommends: tesseract-ocr (>= 3.00)
Description: tesseract-ocr language files for Italian text
 A commercial quality OCR engine originally developed at HP between 1985
 and 1995. In 1995, this engine was among the top 3 evaluated by UNLV. It
 was open-sourced by HP and UNLV in 2005. This package contains the data
 needed for processing images in Italian.
 
Package: tesseract-ocr-lav
Architecture: all
Provides: tesseract-ocr-language, tesseract-ocr-lang
Depends: ${misc:Depends}
Recommends: tesseract-ocr (>= 3.00)
Description: tesseract-ocr language files for Latvian text
 A commercial quality OCR engine originally developed at HP between 1985
 and 1995. In 1995, this engine was among the top 3 evaluated by UNLV. It
 was open-sourced by HP and UNLV in 2005. This package contains the data
 needed for processing images in Latvian.
 
Package: tesseract-ocr-lit
Architecture: all
Provides: tesseract-ocr-language, tesseract-ocr-lang
Depends: ${misc:Depends}
Recommends: tesseract-ocr (>= 3.00)
Description: tesseract-ocr language files for Lithuanian text
 A commercial quality OCR engine originally developed at HP between 1985
 and 1995. In 1995, this engine was among the top 3 evaluated by UNLV. It
 was open-sourced by HP and UNLV in 2005. This package contains the data
 needed for processing images in Lithuanian.
 
Package: tesseract-ocr-nld
Architecture: all
Provides: tesseract-ocr-language, tesseract-ocr-lang
Depends: ${misc:Depends}
Recommends: tesseract-ocr (>= 3.00)
Description: tesseract-ocr language files for Dutch text
 A commercial quality OCR engine originally developed at HP between 1985
 and 1995. In 1995, this engine was among the top 3 evaluated by UNLV. It
 was open-sourced by HP and UNLV in 2005. This package contains the data
 needed for processing images in Dutch.
 
Package: tesseract-ocr-nor
Architecture: all
Provides: tesseract-ocr-language, tesseract-ocr-lang
Depends: ${misc:Depends}
Recommends: tesseract-ocr (>= 3.00)
Description: tesseract-ocr language files for Norwegian text
 A commercial quality OCR engine originally developed at HP between 1985
 and 1995. In 1995, this engine was among the top 3 evaluated by UNLV. It
 was open-sourced by HP and UNLV in 2005. This package contains the data
 needed for processing images in Norwegian.
 
Package: tesseract-ocr-pol
Architecture: all
Provides: tesseract-ocr-language, tesseract-ocr-lang
Depends: ${misc:Depends}
Recommends: tesseract-ocr (>= 3.00)
Description: tesseract-ocr language files for Polish text
 A commercial quality OCR engine originally developed at HP between 1985
 and 1995. In 1995, this engine was among the top 3 evaluated by UNLV. It
 was open-sourced by HP and UNLV in 2005. This package contains the data
 needed for processing images in Polish.
 
Package: tesseract-ocr-por
Architecture: all
Provides: tesseract-ocr-language, tesseract-ocr-lang
Depends: ${misc:Depends}
Recommends: tesseract-ocr (>= 3.00)
Description: tesseract-ocr language files for Portuguese text
 A commercial quality OCR engine originally developed at HP between 1985
 and 1995. In 1995, this engine was among the top 3 evaluated by UNLV. It
 was open-sourced by HP and UNLV in 2005. This package contains the data
 needed for processing images in Portuguese.

Package: tesseract-ocr-ron
Architecture: all
Provides: tesseract-ocr-language, tesseract-ocr-lang
Depends: ${misc:Depends}
Recommends: tesseract-ocr (>= 3.00)
Description: tesseract-ocr language files for Romanian text
 A commercial quality OCR engine originally developed at HP between 1985
 and 1995. In 1995, this engine was among the top 3 evaluated by UNLV. It
 was open-sourced by HP and UNLV in 2005. This package contains the data
 needed for processing images in Romanian.

Package: tesseract-ocr-rus
Architecture: all
Provides: tesseract-ocr-language, tesseract-ocr-lang
Depends: ${misc:Depends}
Recommends: tesseract-ocr (>= 3.00)
Description: tesseract-ocr language files for Russian text
 A commercial quality OCR engine originally developed at HP between 1985
 and 1995. In 1995, this engine was among the top 3 evaluated by UNLV. It
 was open-sourced by HP and UNLV in 2005. This package contains the data
 needed for processing images in Russian.
 
Package: tesseract-ocr-slk
Architecture: all
Provides: tesseract-ocr-language, tesseract-ocr-lang
Depends: ${misc:Depends}
Recommends: tesseract-ocr (>= 3.00)
Description: tesseract-ocr language files for Slovakian text
 A commercial quality OCR engine originally developed at HP between 1985
 and 1995. In 1995, this engine was among the top 3 evaluated by UNLV. It
 was open-sourced by HP and UNLV in 2005. This package contains the data
 needed for processing images in Slovakian.
 
Package: tesseract-ocr-slv
Architecture: all
Provides: tesseract-ocr-language, tesseract-ocr-lang
Depends: ${misc:Depends}
Recommends: tesseract-ocr (>= 3.00)
Description: tesseract-ocr language files for Slovenian text
 A commercial quality OCR engine originally developed at HP between 1985
 and 1995. In 1995, this engine was among the top 3 evaluated by UNLV. It
 was open-sourced by HP and UNLV in 2005. This package contains the data
 needed for processing images in Slovenian.
 
Package: tesseract-ocr-spa
Architecture: all
Provides: tesseract-ocr-language, tesseract-ocr-lang
Depends: ${misc:Depends}
Recommends: tesseract-ocr (>= 3.00)
Description: tesseract-ocr language files for Spanish text
 A commercial quality OCR engine originally developed at HP between 1985
 and 1995. In 1995, this engine was among the top 3 evaluated by UNLV. It
 was open-sourced by HP and UNLV in 2005. This package contains the data
 needed for processing images in Spanish.
 
Package: tesseract-ocr-srp
Architecture: all
Provides: tesseract-ocr-language, tesseract-ocr-lang
Depends: ${misc:Depends}
Recommends: tesseract-ocr (>= 3.00)
Description: tesseract-ocr language files for Serbian text
 A commercial quality OCR engine originally developed at HP between 1985
 and 1995. In 1995, this engine was among the top 3 evaluated by UNLV. It
 was open-sourced by HP and UNLV in 2005. This package contains the data
 needed for processing images in Serbian.
 
Package: tesseract-ocr-swe
Architecture: all
Provides: tesseract-ocr-language, tesseract-ocr-lang
Depends: ${misc:Depends}
Recommends: tesseract-ocr (>= 3.00)
Description: tesseract-ocr language files for Swedish text
 A commercial quality OCR engine originally developed at HP between 1985
 and 1995. In 1995, this engine was among the top 3 evaluated by UNLV. It
 was open-sourced by HP and UNLV in 2005. This package contains the data
 needed for processing images in Swedish.
 
Package: tesseract-ocr-tgl
Architecture: all
Provides: tesseract-ocr-language, tesseract-ocr-lang
Depends: ${misc:Depends}
Recommends: tesseract-ocr (>= 3.00)
Description: tesseract-ocr language files for Tagalog text
 A commercial quality OCR engine originally developed at HP between 1985
 and 1995. In 1995, this engine was among the top 3 evaluated by UNLV. It
 was open-sourced by HP and UNLV in 2005. This package contains the data
 needed for processing images in Tagalog.
 
Package: tesseract-ocr-tur
Architecture: all
Provides: tesseract-ocr-language, tesseract-ocr-lang
Depends: ${misc:Depends}
Recommends: tesseract-ocr (>= 3.00)
Description: tesseract-ocr language files for Turkish text
 A commercial quality OCR engine originally developed at HP between 1985
 and 1995. In 1995, this engine was among the top 3 evaluated by UNLV. It
 was open-sourced by HP and UNLV in 2005. This package contains the data
 needed for processing images in Turkish.
 
Package: tesseract-ocr-ukr
Architecture: all
Provides: tesseract-ocr-language, tesseract-ocr-lang
Depends: ${misc:Depends}
Recommends: tesseract-ocr (>= 3.00)
Description: tesseract-ocr language files for Ukrainian text
 A commercial quality OCR engine originally developed at HP between 1985
 and 1995. In 1995, this engine was among the top 3 evaluated by UNLV. It
 was open-sourced by HP and UNLV in 2005. This package contains the data
 needed for processing images in Ukrainian.

Package: tesseract-ocr-vie
Architecture: all
Provides: tesseract-ocr-language, tesseract-ocr-lang
Depends: ${misc:Depends}
Recommends: tesseract-ocr (>= 3.00)
Description: tesseract-ocr language files for Vietnamese text
 A commercial quality OCR engine originally developed at HP between 1985
 and 1995. In 1995, this engine was among the top 3 evaluated by UNLV. It
 was open-sourced by HP and UNLV in 2005. This package contains the data
 needed for processing images in Vietnamese.

Package: tesseract-ocr-chi-sim
Architecture: all
Provides: tesseract-ocr-language, tesseract-ocr-lang
Depends: ${misc:Depends}
Recommends: tesseract-ocr (>= 3.00)
Description: tesseract-ocr language files for Chinese text
 A commercial quality OCR engine originally developed at HP between 1985
 and 1995. In 1995, this engine was among the top 3 evaluated by UNLV. It
 was open-sourced by HP and UNLV in 2005. This package contains the data
 needed for processing images in Chinese (Simplified).

Package: tesseract-ocr-chi-tra
Architecture: all
Provides: tesseract-ocr-language, tesseract-ocr-lang
Depends: ${misc:Depends}
Recommends: tesseract-ocr (>= 3.00)
Description: tesseract-ocr language files for Chinese text
 A commercial quality OCR engine originally developed at HP between 1985
 and 1995. In 1995, this engine was among the top 3 evaluated by UNLV. It
 was open-sourced by HP and UNLV in 2005. This package contains the data
 needed for processing images in Chinese (Traditional).
 
