#!/usr/bin/make -f

LDFLAGS+=-Wl,--as-needed

ifneq (,$(filter lzma,$(DEB_BUILD_OPTIONS)))
	BUILDDEBFLAGS= -- -Zlzma -z9
endif

ifneq (,$(filter xz,$(DEB_BUILD_OPTIONS)))
	BUILDDEBFLAGS= -- -Zxz -z9
endif

%:
	dh $@ --with autoreconf

override_dh_builddeb:
	dh_builddeb $(BUILDDEBFLAGS)

override_dh_auto_install:
	dh_auto_install -- DESTDIR=$(CURDIR)/debian/uget
