#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

confflags = --prefix=/usr

configure: configure-stamp
configure-stamp:
	dh_testdir
	cd src && ./autogen.sh
	cd src && ./configure $(confflags)
	touch $@
build: configure build-stamp
build-stamp:
	dh_testdir
	cd src && $(MAKE)
	touch $@
clean: do-clean
do-clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	cd src && (test ! -f Makefile || $(MAKE) clean)
	dh_clean
install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs
	cd src && $(MAKE) install DESTDIR=$(CURDIR)/debian/screen
binary-indep: build install
binary-arch: build install
	dh_testdir
	dh_testroot
	#dh_installdebconf	
	dh_installdocs
	rm -r debian/screen/usr/share/info
	dh_installinfo src/doc/screen.info
	dh_installchangelogs src/ChangeLog
	chmod -s debian/screen/usr/bin/screen-*
	dh_link usr/share/man/man1/screen.1 usr/share/man/man1/screen-4.1.0.1
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_installdebconf
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure patch unpatch do-clean


