Source: libbabl
Section: libs
Priority: optional
Maintainer: Alexander Pozdnyakov <almipo@mail.ru>
Build-Depends: autotools-dev, automake,
               cdbs (>= 0.4.93~),
               debhelper (>= 8.1.3),
               gobject-introspection,
               libgirepository1.0-dev,
               pkg-config,
               librsvg2-dev,
               gawk,
               libltdl-dev,
               libtool
Standards-Version: 3.9.3
Homepage: http://gegl.org/babl/

Package: libbabl-0.1-0
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: Dynamic, any to any, pixel format conversion library
 Babl is a dynamic, any to any, pixel format conversion library. It
 provides conversions between the myriad of buffer types images can be
 stored in. Babl doesn't only help with existing pixel formats, but
 also facilitates creation of new and uncommon ones.

Package: libbabl-dev
Architecture: any
Multi-Arch: same
Section: libdevel
Depends: libbabl-0.1-0 (= ${binary:Version}),
         ${misc:Depends}
Breaks: libbabl-0.0-0-dev, libbabl-0.1-0-dev
Replaces: libbabl-0.0-0-dev, libbabl-0.1-0-dev
Provides: libbabl-0.0-0-dev, libbabl-0.1-0-dev
Description: Dynamic, any to any, pixel format conversion library (development files)
 Babl is a dynamic, any to any, pixel format conversion library. It
 provides conversions between the myriad of buffer types images can be
 stored in. Babl doesn't only help with existing pixel formats, but
 also facilitates creation of new and uncommon ones.
 .
 This package contains the development files.

Package: libbabl-doc
Architecture: all
Multi-Arch: foreign
Section: doc
Depends: ${misc:Depends}
Breaks: libbabl-0.0-doc, libbabl-0.1-doc
Replaces: libbabl-0.0-doc, libbabl-0.1-doc
Description: Dynamic, any to any, pixel format conversion library (documentation)
 Babl is a dynamic, any to any, pixel format conversion library. It
 provides conversions between the myriad of buffer types images can be
 stored in. Babl doesn't only help with existing pixel formats, but
 also facilitates creation of new and uncommon ones.
 .
 This package contains the API documentation.

