Source: deadbeef
Section: sound
Priority: optional
Maintainer: Alexander Pozdnyakov <almipo@mail.ru>
Build-Depends: debhelper (>= 7), libltdl-dev | libltdl7-dev, libtool, libasound2-dev, libsamplerate0-dev, libmad0-dev, libavformat-dev, libsndfile1-dev, libx11-dev, libvorbis-dev, libavutil-dev, libcddb2-dev, libgtk2.0-dev, libcdio-dev, libogg-dev, libcurl4-gnutls-dev, libflac-dev, autotools-dev, libwavpack-dev, libavcodec-dev, automake, autoconf
Standards-Version: 3.8.3
Homepage: http://deadbeef.sourceforge.net/

Package: deadbeef
Architecture: any
Recommends: libavformat52, libsndfile1, libflac8, libogg0, libavutil49, libavcodec52, libvorbis0a, libwavpack1, libcddb2, libvorbisfile3, libmad0, libcdio7 | libcdio10,
Suggests: libcurl3-gnutls
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Music player for GNU/Linux systems
 DeaDBeeF is an audio player for GNU/Linux systems with 
 X11 written in C and C++. Features: minimal depends; 
 native GTK2 GUI; cuesheet support; mp3, ogg, flac, ape; 
 chiptune formats with subtunes, song-length databases, etc; 
 small memory footprint.

Package: deadbeef-dev
Architecture: all
Depends: deadbeef
Description: Development files for DeaDBeeF
 This package contains DeaDBeeF include files you need if you
 want to develop plugins for DeaDBeeF.

