#!/usr/bin/make -f
export DH_VERBOSE=1

export DH_ALWAYS_EXCLUDE := COPYING:COPYING.GPLv2:COPYING.LGPLv2.1

ifneq (,$(filter lzma,$(DEB_BUILD_OPTIONS)))
	BUILDDEBFLAGS= -- -Zlzma -z9
endif

%:
	dh --parallel --with quilt $@
override_dh_auto_configure:
	./autogen.sh
	dh_auto_configure

override_dh_makeshlibs:
	dh_makeshlibs -n

override_dh_shlibdeps:
	dh_shlibdeps -Xflac.so -Xlastfm.so -Xmpgmad.so -Xffmpeg.so \
		-Xvorbis.so -Xsndfile.so -Xwavpack.so -Xcdda.so \
		-Xvfs_curl.so -Xvfs_zip.so -Xartwork.so -Xdsp_libsrc.so \
		-Xnotify.so -Xpulse.so -Xmms.so -Xao.so -Xaac.so -Xdca.so

override_dh_install:
	dh_install
	@cp ChangeLog debian/deadbeef/usr/share/doc/deadbeef/changelog.deadbeef

override_dh_installchangelogs:
	dh_installchangelogs -k ChangeLog

override_dh_compress:
	dh_compress -Xchangelog.deadbeef -Xabout.txt

override_dh_builddeb:
	dh_builddeb $(BUILDDEBFLAGS)
