Source: qwit
Section: net
Priority: optional
Maintainer: Alexander Pozdnyakov <almipo@mail.ru>
Build-Depends: debhelper (>= 7), quilt, libqt4-dev, cmake, automoc, libqoauth-dev, libqca2-dev, dpatch
Standards-Version: 3.9.1
Homepage: http://code.google.com/p/qwit/

Package: qwit
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: simple Qt4-based client for Twitter
 Qwit is a Qt4-based client for Twitter and Identi.ca.  
 Qwit allows for: http-proxy support, userpic caching, 
 hperlinking status updates, twitpic support, 
 custimization,  and many other options.
