#!/usr/bin/make -f
#export DH_VERBOSE=1

CMAKEOPTS = -D WITH_OPENCOLLADA=OFF -D WITH_FFTW3=ON -D WITH_JACK=ON -D WITH_SNDFILE=ON -D WITH_FFMPEG=ON -DPYTHON_INC=/usr/include/python3.2 -DCMAKE_INSTALL_PREFIX='/usr' ..

ifneq (,$(filter noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
endif

ifneq (,$(filter lzma,$(DEB_BUILD_OPTIONS)))
	BUILDDEBFLAGS= -- -Zlzma -z9
endif

ifneq (,$(filter xz,$(DEB_BUILD_OPTIONS)))
	BUILDDEBFLAGS= -- -Zxz -z9
endif

override_dh_auto_configure:
	dh_auto_configure -- $(CMAKEOPTS)

override_dh_builddeb:
	dh_builddeb $(BUILDDEBFLAGS)

%:
	dh $@ --parallel