Source: eiskaltdcpp
Section: net
Priority: optional
Maintainer: Alexander Pozdnyakov <almipo@mail.ru>
Build-Depends: debhelper (>= 7), cmake, libqt4-dev, libssl-dev, libxml2-dev, libbz2-dev, subversion, libupnp3-dev, libboost-dev, libboost-date-time-dev, libboost-filesystem-dev, libboost-system-dev
Standards-Version: 3.8.3
Homepage: http://code.google.com/p/eiskaltdc/

Package: eiskaltdcpp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: graphical client for Direct Connect
 EiskaltDC++ is a graphical client for popular peer to peer network
 called Direct Connect.
 .
 EiskaltDC++ has many features, such as searching on all public servers without
 connecting, downloading a file from multiple locations, connecting to
 multiple servers, and support for multiple languages.
 .
