[Desktop Entry]
Type=Application
Name=Scan Tailor Universal
Comment=Interactive post-processing tool for scanned pages
Icon=scantailor-universal
TryExec=scantailor-universal
Exec=scantailor-universal %f
Terminal=false
MimeType=application/x-scantailor;
Categories=Graphics;2DGraphics;RasterGraphics;Scanning;ImageProcessing;Qt;
Keywords=scanning;postprocessing;
StartupNotify=true
