Source: vacuum-plugins-otre2e
Section: net
Priority: optional
Maintainer: Alexander Pozdnyakov <almipo@mail.ru>
Build-Depends: debhelper (>= 7), openssl, libqt4-dev, libx11-dev, nas, zlib1g-dev, libotr2-dev, vacuum-dev
Standards-Version: 3.8.4
Homepage: http://code.google.com/p/vacuum-plugins/

Package: vacuum-plugins-otre2e
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Plungin for Vacuum-IM
 It's port of Psi Off-the-Record plugin to Vacuum-IM
