#!/usr/bin/make -f
export DH_VERBOSE=1

GNOME_DOWNLOAD_URL = http://pawsa.fedorapeople.org/balsa/$(GNOME_TARBALL)
TARBALL_EXT := tar.bz2
-include /usr/share/gnome-pkg-tools/1/rules/gnome-get-source.mk

# Ensure at build time that the library has no dependencies on undefined
# symbols, and speed up loading.
export DEB_LDFLAGS_MAINT_APPEND = -Wl,-z,defs -Wl,-O1 -Wl,--as-needed
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# Compile options
CONFIGURE_FLAGS = --with-compface \
			--with-gpgme \
			--with-gss \
			--with-ldap \
			--with-sqlite \
			--with-gtksourceview \
			--enable-extra-mimeicons \
			--with-libnotify \
			--with-rubrica \
			--with-canberra \
			--with-libsecret \
			--with-gnome \
			--with-html-widget=webkit2

DEBIAN_CODENAME = $(shell echo $$DIST)
ifeq "$(DEBIAN_CODENAME)" ""
	DEBIAN_CODENAME = $(shell dpkg-parsechangelog | awk '/^Distribution: / {print $$2}')
endif

CONFIGURE_FLAGS += --with-spell-checker=gspell


%:
	dh $@ --with autoreconf

override_dh_auto_configure:
#	./autogen.sh $(CONFIGURE_FLAGS)
	dh_auto_configure -- $(CONFIGURE_FLAGS)

# Ensure that .gmo files are gone before package building
override_dh_clean:
	dh_clean
	rm -f po/*.gmo
	rm -f balsa.desktop

override_dh_builddeb:
	dh_builddeb -- -Zxz -z9
