#!/usr/bin/make -f
export DH_VERBOSE=1

DEBIAN_CODENAME = $(shell echo $$DIST)
ifeq "$(DEBIAN_CODENAME)" ""
	DEBIAN_CODENAME = $(shell dpkg-parsechangelog | awk '/^Distribution: / {print $$2}')
endif
ifneq (,$(filter $(DEBIAN_CODENAME),lucid karmic)) 
	BUILDDEBFLAGS= -- -Zlzma -z9
else
	BUILDDEBFLAGS= -- -Zxz -z9
endif

export DH_ALWAYS_EXCLUDE := License.txt

SCONSOPT = -j1 release=1 PREFIX=/usr FAKE_ROOT=debian/linuxdcpp 

CPPFLAGS:=$(shell dpkg-buildflags --get CPPFLAGS)
CFLAGS:=$(shell dpkg-buildflags --get CFLAGS)
CXXFLAGS:=$(shell dpkg-buildflags --get CXXFLAGS)
LDFLAGS:=$(shell dpkg-buildflags --get LDFLAGS)

export CPPFLAGS CFLAGS CXXFLAGS LDFLAGS

%:
	dh --parallel $@

override_dh_auto_build:
	scons $(SCONSOPT)

override_dh_auto_install:
	scons install

override_dh_installchangelogs:
	dh_installchangelogs -k Changelog.txt

override_dh_builddeb:
	dh_builddeb $(BUILDDEBFLAGS)

