#!/usr/bin/make -f
#export DH_VERBOSE=1

ifneq (,$(filter lzma,$(DEB_BUILD_OPTIONS)))
	BUILDDEBFLAGS= -- -Zlzma -z9
endif

ifneq (,$(filter xz,$(DEB_BUILD_OPTIONS)))
	BUILDDEBFLAGS= -- -Zxz -z9
endif

%:
	dh $@

override_dh_clean:
	for file in $(wildcard po/*.po); do \
         dummy=$${file#*/}; \
         dummy2=$${dummy#*-}; \
         lang=$${dummy2%%.po}; \
         rm -rf $$lang; \
        done
	dh_clean

override_dh_installchangelogs:
	dh_installchangelogs History

override_dh_auto_test:
	
override_dh_builddeb:
	dh_builddeb $(BUILDDEBFLAGS)
