[Desktop Entry]
Encoding=UTF-8
Name=Obkey
GenericName=Obkey
Comment=Graphical key editor for openbox
Icon=obkey.png
Exec=obkey
Terminal=false
Type=Application
Categories=Settings;DesktopSettings;
