[Desktop Entry]
Encoding=UTF-8
Name=llpp
GenericName=PDF file viewer
Comment=PDF file viewer
Exec=llpp %f
TryExec=llpp
Terminal=false
Type=Application
MimeType=application/pdf;application/x-pdf;
Categories=Viewer;Graphics;
 
[Desktop Action View]
Exec=llpp %f
