[Desktop Entry]
Encoding=UTF-8
Name=tangoGiS
GenericName=tangoGiS
Comment=tangoGiS
Exec=/usr/bin/tangogis
Icon=tangogis
Terminal=false
Type=Application
Categories=System;
