Source: eiskaltdcpp-unstable
Section: net
Priority: optional
Maintainer: Alexander Pozdnyakov <almipo@mail.ru>
Build-Depends: debhelper (>= 7), cmake (>= 2.6.0), po-debconf, autotools-dev, fakeroot,
 libqt4-dev (>=4.4.0), qt4-dev-tools (>=4.4.0), qt4-qtconfig (>=4.4.0),
 libgtk2.0-dev, libglade2-dev, libnotify-dev, liblua5.1-0-dev, libpcre3-dev,
 libboost-dev | libboost1.42-dev | libboost1.40-dev | libboost1.39-dev | libboost1.38-dev | libboost1.37-dev | libboost1.35-dev,
 libbz2-dev, zlib1g-dev, pkg-config, libssl-dev, libaspell-dev
Homepage: http://code.google.com/p/eiskaltdc/
Standards-Version: 3.9.1

Package: eiskaltdcpp-unstable
Architecture: all
Depends: ${misc:Depends},
 eiskaltdcpp-qt-unstable (>= ${binary:Version}),
 eiskaltdcpp-gtk-unstable (>= ${binary:Version}),
 eiskaltdcpp-daemon-unstable (>= ${binary:Version}),
 eiskaltdcpp-emoticons-unstable,
 eiskaltdcpp-scripts-unstable,
 eiskaltdcpp-sounds-unstable
Suggests: eiskaltdcpp-geoip-unstable
Replaces: eiskaltdcpp
Conflicts: eiskaltdcpp
Description: EiskaltDC++ meta-package
 This package installs all packages related with EiskaltDC++.
 .
 EiskaltDC++ is a cross-platform program that uses the Direct Connect
 and ADC protocol. It is compatible with other DC clients, such as the original
 DC from Neomodus, DC++ and derivatives. EiskaltDC++ also interoperates with
 all common DC hub software.

Package: eiskaltdcpp-common-unstable
Architecture: all
Depends: ${misc:Depends}
Replaces: eiskaltdcpp-common
Conflicts: eiskaltdcpp-common
Breaks: eiskaltdcpp (<< 2.1.0)
Description: common files for EiskaltDC++
 This package contains the common files for the different EiskaltDC++ versions.
 .
 EiskaltDC++ is a cross-platform program that uses the Direct Connect
 and ADC protocol. It is compatible with other DC clients, such as the original
 DC from Neomodus, DC++ and derivatives. EiskaltDC++ also interoperates with
 all common DC hub software.

Package: eiskaltdcpp-emoticons-unstable
Architecture: all
Depends: ${misc:Depends}
Suggests: php5-cli
Replaces: eiskaltdcpp-emoticons
Conflicts: eiskaltdcpp-emoticons
Description: emoticons for EiskaltDC++
 This package contains the emoticon packs for EiskaltDC++.
 .
 EiskaltDC++ is a cross-platform program that uses the Direct Connect
 and ADC protocol. It is compatible with other DC clients, such as the original
 DC from Neomodus, DC++ and derivatives. EiskaltDC++ also interoperates with
 all common DC hub software.
 .
 (This is daily builds of the EiskaltDC++ packages)

Package: eiskaltdcpp-scripts-unstable
Architecture: all
Depends: ${misc:Depends}
Suggests: php5-cli
Replaces: eiskaltdcpp-scripts
Conflicts: eiskaltdcpp-scripts
Breaks: eiskaltdcpp (<< 2.1.0)
Description: scripts examples for EiskaltDC++
 This package contains the scripts examples for EiskaltDC++.
 It used by /sh and /alias chat commands (see man-page or /help in chat).
 .
 EiskaltDC++ is a cross-platform program that uses the Direct Connect
 and ADC protocol. It is compatible with other DC clients, such as the original
 DC from Neomodus, DC++ and derivatives. EiskaltDC++ also interoperates with
 all common DC hub software.

Package: eiskaltdcpp-sounds-unstable
Architecture: all
Depends: ${misc:Depends}
Replaces: eiskaltdcpp-sounds
Conflicts: eiskaltdcpp-sounds
Description: sound files for EiskaltDC++
 This package contains the sound files for EiskaltDC++.
 .
 EiskaltDC++ is a cross-platform program that uses the Direct Connect
 and ADC protocol. It is compatible with other DC clients, such as the original
 DC from Neomodus, DC++ and derivatives. EiskaltDC++ also interoperates with
 all common DC hub software.
 .
 (This is daily builds of the EiskaltDC++ packages)

Package: eiskaltdcpp-geoip-unstable
Architecture: all
Depends: ${misc:Depends},
 unzip, curl,
 eiskaltdcpp-qt-unstable | eiskaltdcpp-gtk-unstable
Replaces: eiskaltdcpp-geoip
Conflicts: eiskaltdcpp-geoip
Description: Geo IP Database for EiskaltDC++
 This package contains script for updating the Geo IP database for EiskaltDC++.
 .
 Database in text format (GeoIPCountryWhois.csv) will be downloaded from
 official site (http://maxmind.com/) if it's required.
 .
 EiskaltDC++ is a cross-platform program that uses the Direct Connect
 and ADC protocol. It is compatible with other DC clients, such as the original
 DC from Neomodus, DC++ and derivatives. EiskaltDC++ also interoperates with
 all common DC hub software.
 .
 (This is daily builds of the EiskaltDC++ packages)

Package: libeiskaltdcpp2.2-unstable
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Replaces: libdcpp2.0.x, libdcpp2.1.x,
 libeiskaltdcpp2.1.x, libeiskaltdcpp2.2,
 libeiskaltdcpp2.1.x-unstable
Conflicts: libdcpp2.0.x, libdcpp2.1.x,
 libeiskaltdcpp2.1.x, libeiskaltdcpp2.2,
 libeiskaltdcpp2.1.x-unstable
Description: DC++ kernel library from EiskaltDC++
 This package installs only DC++ kernel library which required EiskaltDC++.
 .
 EiskaltDC++ is a cross-platform program that uses the Direct Connect
 and ADC protocol. It is compatible with other DC clients, such as the original
 DC from Neomodus, DC++ and derivatives. EiskaltDC++ also interoperates with
 all common DC hub software.

Package: eiskaltdcpp-qt-unstable
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 libeiskaltdcpp2.2-unstable (= ${binary:Version}),
 eiskaltdcpp-qt-data-unstable (= ${source:Version}),
 eiskaltdcpp-common-unstable
Recommends: libqtscript4-core, libqtscript4-gui, libqtscript4-network, libqtscript4-xml
Replaces: eiskaltdcpp (<< 2.1.0), eiskaltdcpp-qt
Conflicts: eiskaltdcpp-qt
Breaks: eiskaltdcpp (<< 2.1.0)
Description: EiskaltDC++ GUI on Qt
 This package installs only EiskaltDC++ with GUI based on Qt.
 .
 EiskaltDC++ is a cross-platform program that uses the Direct Connect
 and ADC protocol. It is compatible with other DC clients, such as the original
 DC from Neomodus, DC++ and derivatives. EiskaltDC++ also interoperates with
 all common DC hub software.

Package: eiskaltdcpp-qt-data-unstable
Architecture: all
Depends: ${misc:Depends}
Replaces: eiskaltdcpp-qt-data
Conflicts: eiskaltdcpp-qt-data
Breaks: eiskaltdcpp (<< 2.1.0)
Suggests: php5-cli,
 eiskaltdcpp-emoticons-unstable,
 eiskaltdcpp-scripts-unstable,
 eiskaltdcpp-sounds-unstable,
 eiskaltdcpp-geoip-unstable
Description: data files for EiskaltDC++ Qt
 This package contains the data files for EiskaltDC++ Qt.
 .
 EiskaltDC++ is a cross-platform program that uses the Direct Connect
 and ADC protocol. It is compatible with other DC clients, such as the original
 DC from Neomodus, DC++ and derivatives. EiskaltDC++ also interoperates with
 all common DC hub software.

Package: eiskaltdcpp-gtk-unstable
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 libeiskaltdcpp2.2-unstable (= ${binary:Version}),
 eiskaltdcpp-gtk-data-unstable (= ${source:Version}),
 eiskaltdcpp-common-unstable
Replaces: eiskaltdcpp-gtk
Conflicts: eiskaltdcpp-gtk
Description: EiskaltDC++ GUI on Gtk
 This package installs only EiskaltDC++ with GUI based on Gtk
 (based on FreeDC++ and LinuxDC++).
 .
 EiskaltDC++ is a cross-platform program that uses the Direct Connect
 and ADC protocol. It is compatible with other DC clients, such as the original
 DC from Neomodus, DC++ and derivatives. EiskaltDC++ also interoperates with
 all common DC hub software.

Package: eiskaltdcpp-gtk-data-unstable
Architecture: all
Depends: ${misc:Depends}
Replaces: eiskaltdcpp-gtk-data
Conflicts: eiskaltdcpp-gtk-data
Suggests: php5-cli,
 eiskaltdcpp-emoticons-unstable,
 eiskaltdcpp-scripts-unstable,
 eiskaltdcpp-sounds-unstable,
 eiskaltdcpp-geoip-unstable
Description: data files for EiskaltDC++ Gtk
 This package contains the data files for EiskaltDC++ Gtk.
 .
 EiskaltDC++ is a cross-platform program that uses the Direct Connect
 and ADC protocol. It is compatible with other DC clients, such as the original
 DC from Neomodus, DC++ and derivatives. EiskaltDC++ also interoperates with
 all common DC hub software.

Package: eiskaltdcpp-daemon-unstable
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 libeiskaltdcpp2.2-unstable (= ${binary:Version})
Replaces: eiskaltdcpp-daemon
Conflicts: eiskaltdcpp-daemon
Description: EiskaltDC++ daemon
 This package installs only EiskaltDC++ daemon (without any GUI).
 .
 EiskaltDC++ is a cross-platform program that uses the Direct Connect
 and ADC protocol. It is compatible with other DC clients, such as the original
 DC from Neomodus, DC++ and derivatives. EiskaltDC++ also interoperates with
 all common DC hub software.
 .
 (This is daily builds of the EiskaltDC++ packages)
