#!/usr/bin/make -f
export DH_VERBOSE=1 

DEBIAN_CODENAME = $(shell echo $$DIST)
ifeq "$(DEBIAN_CODENAME)" ""
	DEBIAN_CODENAME = $(shell dpkg-parsechangelog | awk '/^Distribution: / {print $$2}')
endif

%:
	dh $@ --parallel

override_dh_auto_configure:
	PWD=$(CURDIR) dh_auto_configure -- --ruby=/lib/rubyripper --enable-gtk3 --enable-cli --enable-lang-all

#override_dh_builddeb:
#	dh_builddeb $(BUILDDEBFLAGS)

override_dh_auto_build:


override_dh_install:
	dh_install
	#chmod a+x $(CURDIR)/debian/rubyripper/usr/lib/rubyripper/rr_lib.rb
