#!/usr/bin/make -f
export DH_VERBOSE=1 

ifneq (,$(filter noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
endif

ifneq (,$(filter lzma,$(DEB_BUILD_OPTIONS)))
	BUILDDEBFLAGS= -- -Zlzma -z9
endif

ifneq (,$(filter xz,$(DEB_BUILD_OPTIONS)))
	BUILDDEBFLAGS= -- -Zxz -z9
endif

%:
	dh $@ --parallel

override_dh_auto_configure:
	dh_auto_configure -- --ruby=/lib/rubyripper --enable-gtk2 --enable-cli --enable-lang-all

override_dh_builddeb:
	dh_builddeb $(BUILDDEBFLAGS)

override_dh_install:
	dh_install
	chmod a+x $(CURDIR)/debian/rubyripper/usr/lib/rubyripper/rr_lib.rb
