Source: clementine-player
Section: sound  
Priority: optional
Maintainer: Alexander Pozdnyakov <almipo@mail.ru>
Build-Depends: debhelper (>= 7), liblastfm-dev, libtag1-dev, libxine-dev, libnotify-dev, libboost-dev, libqt4-dev, qt4-dev-tools, libqt4-opengl-dev, xdg-utils
Standards-Version: 3.8.4
Homepage: http://code.google.com/p/clementine-player/

Package: clementine-player
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libqt4-sql-sqlite
Description: Мodern music player and library organiser. 
 Clementine is a port of Amarok 1.4, with some features 
 rewritten to take advantage of Qt4. 
