Source: clementine-player
Section: sound  
Priority: optional
Maintainer: Alexander Pozdnyakov <almipo@mail.ru>
Build-Depends: debhelper (>= 7),
               liblastfm-dev,
               libtag1-dev,
               libboost1.38-dev |
               libboost1.40-dev |
               libboost1.42-dev |
               libboost-dev,
               libboost-serialization1.38-dev |
               libboost-serialization1.40-dev |
               libboost-serialization1.42-dev |
               libboost-serialization-dev,
               libglew1.5-dev,
               libqt4-dev,
               qt4-dev-tools,
               libqt4-opengl-dev,
               cmake,
               libgstreamer0.10-dev,
               libgstreamer-plugins-base0.10-dev,
               libgpod-dev,
               libimobiledevice-dev,
               libplist-dev,
               libusbmuxd-dev,
               libmtp-dev,
               libindicate-qt-dev,
               libqjson-dev
Standards-Version: 3.9.2
Homepage: http://code.google.com/p/clementine-player/

Package: clementine-player
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libqt4-sql-sqlite, libxine1-plugins, 
Description: Мodern music player and library organiser. 
 Clementine is a port of Amarok 1.4, with some features 
 rewritten to take advantage of Qt4. 
