#!/usr/bin/make -f
#export DH_VERBOSE=1

DEBIAN_CODENAME = $(shell echo $$DIST)
ifeq "$(DEBIAN_CODENAME)" ""
	DEBIAN_CODENAME = $(shell dpkg-parsechangelog | awk '/^Distribution: / {print $$2}')
endif

CPPFLAGS:=$(shell dpkg-buildflags --get CPPFLAGS)
CFLAGS:=$(shell dpkg-buildflags --get CFLAGS)
CXXFLAGS:=$(shell dpkg-buildflags --get CXXFLAGS)
LDFLAGS:=$(shell dpkg-buildflags --get LDFLAGS) -Wl,--as-needed

export CPPFLAGS CFLAGS CXXFLAGS LDFLAGS

%:
	dh $@ --parallel

override_dh_install:
	dh_install
	find $(CURDIR)/debian -depth -type f -name COPYING -exec rm -rf \{\} \;
	find $(CURDIR)/debian -depth -type f -name ChangeLog -exec rm -rf \{\} \;

#override_dh_builddeb:
#	dh_builddeb $(BUILDDEBFLAGS)
