Source: bmpanel2
Section: utils
Priority: extra
Maintainer: Alexander Pozdnyakov <almipo@mail.ru>
Build-Depends: debhelper (>= 7), cmake, libfontconfig1-dev, libfreetype6-dev, libglib2.0-dev, libimlib2-dev, libxcomposite-dev, libxrender-dev, libx11-dev, libcairo2-dev, libpango1.0-dev
Standards-Version: 3.9.1
Homepage: http://code.google.com/p/bmpanel2/

Package: bmpanel2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: BitMap Panel
 BMPanel (BitMap Panel) is a lightweight, NETWM compliant panel
 for X11 Window System, which contains a desktop switcher, taskbar,
 system tray and clock.
