#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
CMAKEOPTS = -DCMAKE_INSTALL_PREFIX='/usr' .
configure: configure-stamp
configure-stamp:
	dh_testdir
	cmake $(CMAKEOPTS)
	touch $@
build: configure build-stamp
build-stamp:
	dh_testdir
	$(MAKE)
	touch $@
clean: do-clean
do-clean:
	dh_testdir
	dh_testroot
	test ! -f Makefile || $(MAKE) clean
	dh_clean
install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs
	$(MAKE) install DESTDIR=debian/tmp
binary-indep: build install
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_install
	#dh_link
	dh_installdocs
	#dh_installinfo
	dh_installchangelogs
	dh_installman debian/bmpanel2.1
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_installdebconf
	dh_gencontrol
	dh_md5sums
	dh_builddeb
binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure patch unpatch do-clean
	
