#!/usr/bin/make -f

ifneq (,$(filter lzma,$(DEB_BUILD_OPTIONS)))
	BUILDDEBFLAGS= -- -Zlzma -z9
endif

ifneq (,$(filter xz,$(DEB_BUILD_OPTIONS)))
	BUILDDEBFLAGS= -- -Zxz -z9
endif

INSTDIR=$(CURDIR)/debian/tmp

%:
	dh $@ --parallel

override_dh_builddeb:
	dh_builddeb $(BUILDDEBFLAGS)
