#!/usr/bin/make -f
export DH_VERBOSE = 1

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

BUILDDIR = $(CURDIR)/build

%:
	dh $@ --buildsystem=cmake --builddirectory=$(BUILDDIR)

override_dh_auto_test:
ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS)))
	$(CURDIR)/build/test/chiaki-unit
endif

override_dh_install: debian/chiaki.6
	dh_install
	mkdir -vp $(CURDIR)/debian/chiaki/usr/share/icons/hicolor/scalable/apps/
	install -vm0644 $(CURDIR)/gui/res/chiaki.svg $(CURDIR)/debian/chiaki/usr/share/icons/hicolor/scalable/apps/chiaki.svg
	for size in 16 24 32 48 64 96 128 192 256; do \
	convert -resize $${size}x$${size} $(CURDIR)/gui/res/chiaki.svg $(CURDIR)/chiaki.png;\
	mkdir -vp $(CURDIR)/debian/chiaki/usr/share/icons/hicolor/$${size}x$${size}/apps/;\
	install -Dm644 $(CURDIR)/chiaki.png $(CURDIR)/debian/chiaki/usr/share/icons/hicolor/$${size}x$${size}/apps/chiaki.png;\
	test -f chiaki.png && rm chiaki.png;\
	done

%.6: %.6.md
	pandoc --verbose --standalone $< --to man --output $@
