#!/usr/bin/make -f
ifneq (,$(filter lzma,$(DEB_BUILD_OPTIONS)))
	BUILDDEBFLAGS= -- -Zlzma -z9
endif

ifneq (,$(filter xz,$(DEB_BUILD_OPTIONS)))
	BUILDDEBFLAGS= -- -Zxz -z9
endif

%:
	dh $@ --parallel

override_dh_auto_configure:
	dh_auto_configure -- -DCMAKE_BUILD_TYPE=release

override_dh_builddeb:
	dh_builddeb $(BUILDDEBFLAGS)

override_dh_install:
	dh_install
	find $(CURDIR)/debian/muse-devel/ -name "COPYING*" -delete
	find $(CURDIR)/debian/muse-devel/ -name "LICENSE" -delete
	find $(CURDIR)/debian/muse-devel/ -name "ChangeLog*" -delete
