Source: eiskaltdcpp-devel
Section: net
Priority: optional
Maintainer: Alexander Pozdnyakov <almipo@mail.ru>
Build-Depends: cmake,
               debhelper (>= 9),
               libaspell-dev,
               libattr1-dev,
               libbz2-dev,
               libcanberra-gtk3-dev,
               libgtk-3-dev,
               libidn2-dev,
               libjsoncpp-dev,
               liblua5.2-dev,
               libminiupnpc-dev,
               libnotify-dev,
               libpcre3-dev,
               libqt5xmlpatterns5-dev,
               libssl-dev,
               pkg-config,
               po-debconf,
               qtbase5-dev,
               qtmultimedia5-dev,
               qtscript5-dev,
               qttools5-dev,
               qttools5-dev-tools,
               zlib1g-dev
Homepage: https://github.com/eiskaltdcpp/eiskaltdcpp
Vcs-Git: https://github.com/eiskaltdcpp/eiskaltdcpp-devel-debian.git
Vcs-Browser: https://github.com/eiskaltdcpp/eiskaltdcpp-devel-debian
Standards-Version: 4.6.0
Rules-Requires-Root: no

Package: eiskaltdcpp
Section: metapackages
Architecture: all
Depends: eiskaltdcpp-emoticons,
         eiskaltdcpp-qt | eiskaltdcpp-gtk,
         eiskaltdcpp-scripts,
         eiskaltdcpp-sounds,
         ${misc:Depends}
Description: file sharing program using Direct Connect protocols (metapackage)
 This package installs the most popular and recommended combination of
 EiskaltDC++ related packages.
 .
 EiskaltDC++ is a cross-platform program that uses the Direct Connect and
 Advanced Direct Connect protocols. It is compatible with DC++, AirDC++,
 FlylinkDC++ and other DC clients. EiskaltDC++ also interoperates with all
 common DC hub software.

Package: eiskaltdcpp-common
Architecture: all
Depends: ${misc:Depends}
Multi-Arch: foreign
Description: common files for EiskaltDC++
 This package contains the common files for EiskaltDC++ Qt and GTK+ GUIs.
 .
 EiskaltDC++ is a cross-platform program that uses the Direct Connect and
 Advanced Direct Connect protocols. It is compatible with DC++, AirDC++,
 FlylinkDC++ and other DC clients. EiskaltDC++ also interoperates with all
 common DC hub software.

Package: eiskaltdcpp-emoticons
Architecture: all
Depends: ${misc:Depends}
Multi-Arch: foreign
Description: emoticons for EiskaltDC++
 This package contains the emoticon packs for EiskaltDC++.
 .
 EiskaltDC++ is a cross-platform program that uses the Direct Connect and
 Advanced Direct Connect protocols. It is compatible with DC++, AirDC++,
 FlylinkDC++ and other DC clients. EiskaltDC++ also interoperates with all
 common DC hub software.

Package: eiskaltdcpp-scripts
Architecture: all
Depends: ${misc:Depends}
Recommends: php-cli
Multi-Arch: foreign
Description: scripts examples for EiskaltDC++
 This package contains the scripts examples for EiskaltDC++.
 They are used by /sh and /alias chat commands (see man page or /help in chat).
 .
 EiskaltDC++ is a cross-platform program that uses the Direct Connect and
 Advanced Direct Connect protocols. It is compatible with DC++, AirDC++,
 FlylinkDC++ and other DC clients. EiskaltDC++ also interoperates with all
 common DC hub software.

Package: eiskaltdcpp-sounds
Architecture: all
Depends: ${misc:Depends}
Multi-Arch: foreign
Description: sound files for EiskaltDC++
 This package contains the sound files for EiskaltDC++ Qt and GTK+ GUIs.
 .
 EiskaltDC++ is a cross-platform program that uses the Direct Connect and
 Advanced Direct Connect protocols. It is compatible with DC++, AirDC++,
 FlylinkDC++ and other DC clients. EiskaltDC++ also interoperates with all
 common DC hub software.

Package: libeiskaltdcpp2.4
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Replaces: libeiskaltdcpp2.2
Breaks: libeiskaltdcpp2.2
Multi-Arch: same
Description: core library for EiskaltDC++
 This package contains core library which is used by all EiskaltDC++ programs.
 .
 EiskaltDC++ is a cross-platform program that uses the Direct Connect and
 Advanced Direct Connect protocols. It is compatible with DC++, AirDC++,
 FlylinkDC++ and other DC clients. EiskaltDC++ also interoperates with all
 common DC hub software.

Package: libeiskaltdcpp-dev
Section: libdevel
Architecture: any
Depends: libeiskaltdcpp2.4 (= ${binary:Version}), ${misc:Depends}
Multi-Arch: same
Description: core library for EiskaltDC++ (development files)
 This package contains development files for EiskaltDC++ core library.
 .
 EiskaltDC++ is a cross-platform program that uses the Direct Connect and
 Advanced Direct Connect protocols. It is compatible with DC++, AirDC++,
 FlylinkDC++ and other DC clients. EiskaltDC++ also interoperates with all
 common DC hub software.

Package: eiskaltdcpp-qt
Architecture: any
Depends: eiskaltdcpp-common,
         eiskaltdcpp-qt-data,
         libqt5sql5-sqlite,
         ${misc:Depends},
         ${shlibs:Depends}
Recommends: libqt5script5, libqt5scripttools5
Provides: eiskaltdcpp-qt-mini
Replaces: eiskaltdcpp-qt-mini
Conflicts: eiskaltdcpp-qt-mini
Description: EiskaltDC++ GUI based on Qt
 This package contains EiskaltDC++ program with GUI based on Qt. This is the
 most stable, flexible and convenient GUI for EiskaltDC++.
 .
 EiskaltDC++ is a cross-platform program that uses the Direct Connect and
 Advanced Direct Connect protocols. It is compatible with DC++, AirDC++,
 FlylinkDC++ and other DC clients. EiskaltDC++ also interoperates with all
 common DC hub software.

Package: eiskaltdcpp-qt-data
Architecture: all
Depends: ${misc:Depends}
Suggests: eiskaltdcpp-emoticons,
          eiskaltdcpp-scripts,
          eiskaltdcpp-sounds,
          php-cli
Multi-Arch: foreign
Description: data files for EiskaltDC++ Qt
 This package contains the data files for EiskaltDC++ Qt.
 .
 EiskaltDC++ is a cross-platform program that uses the Direct Connect and
 Advanced Direct Connect protocols. It is compatible with DC++, AirDC++,
 FlylinkDC++ and other DC clients. EiskaltDC++ also interoperates with all
 common DC hub software.

Package: eiskaltdcpp-gtk
Architecture: any
Depends: eiskaltdcpp-common,
         eiskaltdcpp-gtk-data,
         ${misc:Depends},
         ${shlibs:Depends}
Provides: eiskaltdcpp-gtk3
Replaces: eiskaltdcpp-gtk3
Conflicts: eiskaltdcpp-gtk3
Description: EiskaltDC++ GUI based on GTK+
 This package contains EiskaltDC++ program with GUI based on GTK+. Initially it
 was based on FreeDC++ and LinuxDC++ projects, but now it significantly differs
 from them.
 .
 Upstream developers are going to stop support of this GUI in the future.
 Consider using of EiskaltDC++ Qt even in GTK+ based Desktop Environments.
 .
 EiskaltDC++ is a cross-platform program that uses the Direct Connect and
 Advanced Direct Connect protocols. It is compatible with DC++, AirDC++,
 FlylinkDC++ and other DC clients. EiskaltDC++ also interoperates with all
 common DC hub software.

Package: eiskaltdcpp-gtk-data
Architecture: all
Depends: ${misc:Depends}
Suggests: eiskaltdcpp-emoticons,
          eiskaltdcpp-scripts,
          eiskaltdcpp-sounds,
          php-cli
Multi-Arch: foreign
Description: data files for EiskaltDC++ Gtk
 This package contains the data files for EiskaltDC++ GTK+.
 .
 EiskaltDC++ is a cross-platform program that uses the Direct Connect and
 Advanced Direct Connect protocols. It is compatible with DC++, AirDC++,
 FlylinkDC++ and other DC clients. EiskaltDC++ also interoperates with all
 common DC hub software.

Package: eiskaltdcpp-daemon
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Suggests: eiskaltdcpp-cli, eiskaltdcpp-web
Description: EiskaltDC++ daemon
 This package installs only EiskaltDC++ daemon (without any GUI).
 Support of control via JSON-RPC is enabled. Look at EiskaltDC++ CLI and Web UI
 programs for controlling it.
 .
 EiskaltDC++ Qt and GTK+ UI may be used for configuring of EiskaltDC++ daemon
 (they use the same settings from core library), but they should not be launched
 simultaneously.
 .
 EiskaltDC++ is a cross-platform program that uses the Direct Connect and
 Advanced Direct Connect protocols. It is compatible with DC++, AirDC++,
 FlylinkDC++ and other DC clients. EiskaltDC++ also interoperates with all
 common DC hub software.

Package: eiskaltdcpp-cli
Architecture: all
Depends: libdata-dump-perl,
         libgetopt-long-descriptive-perl,
         libjson-rpc-perl,
         libterm-shellui-perl,
         ${misc:Depends},
         ${perl:Depends}
Suggests: eiskaltdcpp-daemon
Description: command-line interface for remote control of EiskaltDC++ daemon
 This package installs EiskaltDC++ CLI (command-line interface) written in perl.
 This program is used to control EiskaltDC++ daemon via JSON-RPC protocol.
 .
 EiskaltDC++ is a cross-platform program that uses the Direct Connect and
 Advanced Direct Connect protocols. It is compatible with DC++, AirDC++,
 FlylinkDC++ and other DC clients. EiskaltDC++ also interoperates with all
 common DC hub software.
