#!/usr/bin/make -f

include /usr/share/dpkg/pkg-info.mk

DEBIAN_CODENAME = $(shell echo $$DIST)
ifeq "$(DEBIAN_CODENAME)" ""
	DEBIAN_CODENAME = $(shell dpkg-parsechangelog | awk '/^Distribution: / {print $$2}')
endif

export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

CMAKEOPTS = -DUSE_ASPELL=ON \
            -DUSE_CLI_JSONRPC=ON \
            -DUSE_GTK=ON \
            -DUSE_GTK3=OFF \
            -DUSE_IDNA=ON \
            -DUSE_JS=ON \
            -DUSE_LIBGNOME2=OFF \
            -DUSE_LIBNOTIFY=ON \
            -DUSE_MINIUPNP=ON \
            -DLOCAL_MINIUPNP=OFF \
            -DUSE_QT_SQLITE=ON \
            -DWITH_DEV_FILES=ON \
            -DWITH_DHT=ON \
            -DWITH_LUASCRIPTS=ON \
            -DWITH_SOUNDS=ON \
            -DCREATE_MO=ON \
            -DUPDATE_PO=OFF \
            -DLUA_SCRIPT=ON \
            -DPERL_REGEX=ON \
            -DNO_UI_DAEMON=ON \
            -DXMLRPC_DAEMON=OFF \
            -DJSONRPC_DAEMON=ON \
            -DCHECK_GTK_DEPRECATED=OFF \
            -DREPLACE_VERSION="$(DEB_VERSION_UPSTREAM)"

ifneq (,$(filter $(DEBIAN_CODENAME),sid stretch buster bullseye zesty artful bionic disco eoan))
	CONTROL = control.sid
	export QT_SELECT=qt5
	CMAKEOPTS += -DUSE_QT=OFF -DUSE_QT5=ON -DUSE_QT_QML=OFF
else
	CONTROL = control.jessie
	CMAKEOPTS += -DUSE_QT=ON -DUSE_QT5=OFF -DUSE_QT_QML=ON
endif


%:
	dh $@ --buildsystem=cmake --parallel --list-missing

override_dh_auto_configure:
	cp debian/$(CONTROL) debian/control
	dh_auto_configure -- $(CMAKEOPTS)

override_dh_auto_clean:
	cp debian/$(CONTROL) debian/control
	dh_auto_clean
