#!/usr/bin/make -f
#export DH_VERBOSE=1

ifneq (,$(filter lzma,$(DEB_BUILD_OPTIONS)))
	BUILDDEBFLAGS= -- -Zlzma -z9
endif

ifneq (,$(filter xz,$(DEB_BUILD_OPTIONS)))
	BUILDDEBFLAGS= -- -Zxz -z9
endif

override_dh_install:
	dh_install
	rm -rf $(CURDIR)/debian/launchy/usr/lib/launchy/plugins/icons/

override_dh_builddeb:
	dh_builddeb $(BUILDDEBFLAGS)

%:
	dh $@ --parallel
