[Desktop Entry]
Encoding=UTF-8
Name=TrueCrypt
GenericName=TrueCrypt
Comment=TrueCrypt
Exec=/usr/bin/truecrypt
Icon=truecrypt
Terminal=false
Type=Application
Categories=System;
