#!/usr/bin/make -f

%:
	dh $@ --parallel 

override_dh_auto_configure:
	cp README.md README
	autoreconf -fiv
	dh_auto_configure -- --enable-geoip=legacy --enable-utf8

override_dh_builddeb:
	dh_builddeb -- -Zxz -z9
