#!/usr/bin/make -f

DEBIAN_CODENAME = $(shell echo $$DIST)
ifeq "$(DEBIAN_CODENAME)" ""
	DEBIAN_CODENAME = $(shell dpkg-parsechangelog | awk '/^Distribution: / {print $$2}')
endif
ifneq (,$(filter $(DEBIAN_CODENAME),lucid karmic)) 
	BUILDDEBFLAGS= -- -Zlzma -z9
else
	BUILDDEBFLAGS= -- -Zxz -z9
endif

%:
	dh ${@}

override_dh_auto_configure:
	dh_auto_configure -- -DCMAKE_INSTALL_LIBDIR=lib

override_dh_install:
	# Removing unused files
	rm -f debian/tmp/usr/lib/*.la
	rm -f debian/tmp/usr/lib/freerdp/*.la
	rm -rf debian/tmp/usr/share/freerdp/keymaps

	dh_install --fail-missing

override_dh_makeshlibs:
	dh_makeshlibs -V -- -c4

override_dh_builddeb:
	dh_builddeb $(BUILDDEBFLAGS)
