#!/usr/bin/make -f
# -*- makefile -*-

BUILDDEBFLAGS= -- -Zxz -z9

%:
	dh --parallel $@

override_dh_auto_configure:
	dh_testdir
	dh_auto_configure

override_dh_auto_clean:
	dh_testdir
	dh_auto_clean

override_dh_builddeb:
	dh_builddeb $(BUILDDEBFLAGS)

override_dh_auto_test:
	
