#!/usr/bin/make -f
#DH_VERBOSE = 1

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

%:
	dh $@  --with autotools-dev --parallel

override_dh_auto_install:
	dh_auto_install
	cd $(CURDIR)/debian/tmp/usr/lib/*linux-gnu/ && ln -s libmypaint-1.3.so.0.0.0 libmypaint-1.3.so



