Source: qcomicbook
Section: graphics
Priority: optional
Maintainer: Alexander Pozdnyakov <almipo@mail.ru>
Build-Depends: debhelper (>= 8), qtbase5-dev, libimlib2-dev, autotools-dev, pkg-config, cmake, quilt (>= 0.46-7~), libpoppler-qt5-dev,  qttools5-dev, qttools5-dev-tools,  	libqt5x11extras5-dev
Standards-Version: 3.9.5
Homepage: http://qcomicbook.org/

Package: qcomicbook
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: unrar-free, zip, unzip, unace, bzip2 | pbzip2
Suggests: rar [i386 amd64], unrar
Description: qt viewer for comic book archives (cbr/cbz/cba/cbg/cbb)
 QComicBook is a viewer for comic book archives containing
 jpeg/png images, which aims at convenience and simplicity.
 Features include: automatic decompression, full-screen mode,
 page scaling, mouse or keyboard navigation etc.
 .
 QComicBook for now supports archives:
  - cbr - rar-compressed
  - cbz - zip-compressed
  - cba - ace-compressed
  - cbg - targzipped
  - cbb - tarbzip2ped
