Source: vacuum-useractivity
Section: net
Priority: optional
Maintainer: Alexander Pozdnyakov <almipo@mail.ru>
Build-Depends: debhelper (>= 7.0.50~), openssl, libqt4-dev, libx11-dev, nas, zlib1g-dev, vacuum-dev, cmake
Standards-Version: 3.9.3
Homepage: http://code.google.com/p/vacuum-plugins/

Package: vacuum-useractivity
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Plugin for Vacuum-IM
 This plugin defines a payload format for communicating  information 
 about user activities, such as whether a person is currently 
 working, travelling, or relaxing.
