[Desktop Entry]
Encoding=UTF-8

Name=MusE
GenericName=MIDI/Audio Sequencer
Comment=Multitrack virtual studio
Icon=muse.xpm

Type=Application
Categories=Application;AudioVideo;Audio;

Exec=muse
Terminal=false

