Source: vacuum-gmailnotify
Section: net
Priority: optional
Maintainer: Alexander Pozdnyakov <almipo@mail.ru>
Build-Depends: debhelper (>= 7), openssl, libqt4-dev, libx11-dev, nas, zlib1g-dev, vacuum-dev
Standards-Version: 3.9.1
Homepage: http://code.google.com/p/vacuum-plugins/

Package: vacuum-gmailnotify
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: vacuum-plugins-gmailnotify
Description: Plugin for Vacuum-IM
 Notify of new e-mails in Google Mail 
