#!/usr/bin/make -f
DH_VERBOSE = 1

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

ifneq (,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
	NUMJOBS = $(patsubst parallel=%,%,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
endif

ifeq (,$(NUMJOBS))
	NUMJOBS = 1
endif

DEBIAN_CODENAME = $(shell echo $$DIST)
ifeq "$(DEBIAN_CODENAME)" ""
	DEBIAN_CODENAME = $(shell dpkg-parsechangelog | awk '/^Distribution: / {print $$2}')
endif

ifeq "$(DEBIAN_CODENAME)" "jessie"
	GEGLOPT += --without-libavformat
	CXXFLAGS += -std=gnu++11
	CFLAGS += -std=gnu11
endif

PREFIXDIR=$(CURDIR)/debian/tmp2/usr/lib/gimpdevel

%:
	dh $@ --parallel

override_dh_auto_configure:
	bash debian/rules.sh $(NUMJOBS)

override_dh_auto_build:
	

override_dh_auto_test:
	

override_dh_auto_clean:
	test ! -d $(CURDIR)/debian/tmp2 || rm -rf $(CURDIR)/debian/tmp2
	test ! -d $(CURDIR)/debian/tmp3 || rm -rf $(CURDIR)/debian/tmp3
	for i in babl gegl libmypaint mypaint-brushes ; do \
	cd $(CURDIR)/3rdparty/$${i} && test ! -f Makefile || make clean ; \
	done
	dh_auto_clean

override_dh_auto_install:
	ln -s $(CURDIR)/debian/tmp2 $(CURDIR)/debian/tmp
	find $(CURDIR)/debian/tmp2 -name '*.la' -delete
	find $(CURDIR)/debian/tmp2 -name '*.pyc' -delete
	find $(CURDIR)/debian/tmp2 -name '*.pyo' -delete
	find $(CURDIR)/debian/tmp2/usr/lib/gimpdevel/share/man/ -name "*" -type l -delete
	cd $(CURDIR)/debian/tmp2/usr/lib/gimpdevel/share/man/man1/ && gzip -n -9 *.1
	cd $(CURDIR)/debian/tmp2/usr/lib/gimpdevel/share/man/man5/ && gzip -n -9 *.5


override_dh_install:
	dh_install
	rm -f $(CURDIR)/debian/gimp-devel-dev/usr/lib/gimpdevel/lib/libgegl-npd-0.3.so
	rm -f $(CURDIR)/debian/gimp-devel-dev/usr/lib/gimpdevel/lib/libgegl-sc-0.3.so
	mv $(CURDIR)/debian/gimp-devel/usr/bin/gimp-devel.sh $(CURDIR)/debian/gimp-devel/usr/bin/gimp-devel
	mv $(CURDIR)/debian/gimp-devel/usr/bin/gimp-console-devel.sh $(CURDIR)/debian/gimp-devel/usr/bin/gimp-console-devel

override_dh_shlibdeps:
	LD_LIBRARY_PATH=debian/gimp-devel/usr/lib/gimpdevel/lib:$${LD_LIBRARY_PATH} \
	LD_RUN_PATH=debian/gimp-devel/usr/lib/gimpdevel/lib:$${LD_RUN_PATH} \
	dh_shlibdeps -ldebian/gimp-devel/usr/lib/gimpdevel/lib/

