#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

NCPUS := $(shell getconf _NPROCESSORS_ONLN 2>/dev/null || echo 1)

ifeq ($(NCPUS),-1)
	NCPUS:=1
endif

ifeq ($(NCPUS),0)
	NCPUS:=1
endif

confflags = --prefix=/usr --release --disable-bundled-qca --disable-growl
MAKEOPT = -j$(NCPUS)
QMAKE=qmake-qt4

configure: configure-stamp
configure-stamp:
	dh_testdir
	./configure $(confflags)
	touch $@
build: configure build-stamp
build-stamp:
	dh_testdir
	$(MAKE) $(MAKEOPT)
	rm -rf src/plugins/generic/testoptplugin
	for i in $(CURDIR)/src/plugins/generic/* ; do \
		file=`basename $$i`; \
		cd $$i; \
		case "$$file" in \
			screenshot) \
				$(QMAKE) screenshotplugin.pro && $(MAKE) $(MAKEOPT) \
			;; \
			*) \
				$(QMAKE) && $(MAKE) $(MAKEOPT) \
			;; \
		esac; \
	done 
	touch $@
clean: do-clean
do-clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	(test ! -f Makefile || $(MAKE) clean)
	dh_clean
	rm -f config.sub config.guess src/Makefile Makefile libpsi/psiwidgets/Makefile src/psi conf.pri extra.pri conf.log src/config.h src/.qmake.internal.cache psi configure.exe src/plugins/generic/psimedia/conf.pri
	rm -rf iris/lib iris/conf.pri src/.moc src/.obj src/.rcc src/.ui .qconftemp src/plugins/generic/psimedia/gstprovider/gstelements/static/lib
	for i in $(CURDIR)/src/plugins/generic/* ; do \
		file=`basename $$i`; \
		cd $$i; \
		[ ! -f Makefile ] || $(MAKE) distclean; \
	done
install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs
	$(MAKE) install INSTALL_ROOT=$(CURDIR)/debian/tmp
	rm -f $(CURDIR)/debian/tmp/usr/share/psi/COPYING
binary-indep: build install
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_install
	dh_installdocs
	dh_installman
	dh_installchangelogs
	dh_link 
	dh_strip
	dh_compress
	dh_fixperms
	chmod -x $(CURDIR)/debian/psi-plus-skins/usr/share/psi/psi-skins/universal/orange/*
	dh_installdeb
	dh_shlibdeps
	dh_installdebconf
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure patch unpatch do-clean
