#!/usr/bin/make -f
# Uncomment this to turn on verbose mode.
#DH_VERBOSE=1

DEBIAN_CODENAME = $(shell echo $$DIST)
ifeq "$(DEBIAN_CODENAME)" ""
	DEBIAN_CODENAME = $(shell dpkg-parsechangelog | awk '/^Distribution: / {print $$2}')
endif

export DEB_CXXFLAGS_MAINT_APPEND = $(shell dpkg-buildflags --get CPPFLAGS)
export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

BUILDDIR1 = $(CURDIR)/debian/builddir1
BUILDDIR2 = $(CURDIR)/debian/builddir2
DESTDIR   = $(CURDIR)/debian/tmp

CMAKEOPTS = -DBUNDLED_IRIS=ON \
            -DDEV_MODE=OFF \
            -DONLY_BINARY=OFF \
            -DONLY_PLUGINS=OFF \
            -DINSTALL_EXTRA_FILES=ON \
            -DINSTALL_PLUGINS_SDK=ON \
            -DPRODUCTION=OFF \
            -DUSE_ASPELL=OFF \
            -DUSE_CCACHE=ON \
            -DUSE_DBUS=ON \
            -DUSE_ENCHANT=OFF \
            -DUSE_HUNSPELL=ON \
            -DUSE_XSS=ON \
            -DVERBOSE_PROGRAM_NAME=ON

OPTSSTEP1 = -DCHAT_TYPE=BASIC \
            -DENABLE_PLUGINS=ON \
            -DBUILD_DEV_PLUGINS=ON \
            -DBUILD_PSIMEDIA=ON

OPTSSTEP2 = -DCHAT_TYPE=WEBKIT \
            -DENABLE_PLUGINS=OFF \
            -DBUILD_PSIMEDIA=OFF

ifneq (,$(filter $(DEBIAN_CODENAME),xenial))
	CMAKEOPTS += -DUSE_KEYCHAIN=OFF
else
	CMAKEOPTS += -DUSE_KEYCHAIN=ON
endif

%:
	dh $@ --buildsystem=cmake

override_dh_dwz:
	dh_dwz || true

override_dh_auto_configure:
ifneq (,$(filter $(DEBIAN_CODENAME),stretch xenial artful))
	sed -i '/^    omemoplugin/d' $(CURDIR)/src/plugins/generic/CMakeLists.txt
else
	# no sed
endif
	dh_auto_configure -B$(BUILDDIR1) -- $(CMAKEOPTS) $(OPTSSTEP1)
	dh_auto_configure -B$(BUILDDIR2) -- $(CMAKEOPTS) $(OPTSSTEP2)

override_dh_auto_build:
	dh_auto_build -B$(BUILDDIR1)
	dh_auto_build -B$(BUILDDIR2)

override_dh_auto_test:
	dh_auto_test -B$(BUILDDIR1)
	dh_auto_test -B$(BUILDDIR2)

override_dh_auto_install:
	dh_auto_install -B$(BUILDDIR1) --destdir=$(DESTDIR)
	ln -s psi-plus.png $(DESTDIR)/usr/share/pixmaps/psi-plus-webkit.png
	cp -a $(BUILDDIR2)/psi/psi-plus-webkit $(DESTDIR)/usr/bin/
	cp -a $(BUILDDIR2)/psi-plus-webkit.desktop $(DESTDIR)/usr/share/applications/
	# Move psimedia plugin to separate package:
	mkdir -p $(CURDIR)/debian/psi-plus-plugin-psimedia/usr/lib/psi-plus/plugins/
	mv $(DESTDIR)/usr/lib/psi-plus/plugins/libmediaplugin.so \
	   $(CURDIR)/debian/psi-plus-plugin-psimedia/usr/lib/psi-plus/plugins/
