[Desktop Entry]
Encoding=UTF-8
Name=BMPanel2cfg
GenericName=BMPanel2cfg
Comment=Preferences manager for BitMap Panel
Exec=bmpanel2cfg
Terminal=false
Type=Application
Categories=Settings;DesktopSettings;
