Source: bmpanel2
Section: utils
Priority: extra
Maintainer: Alexander Pozdnyakov <almipo@mail.ru>
Build-Depends: debhelper (>= 7), cmake, libfontconfig1-dev, libfreetype6-dev, libglib2.0-dev, libimlib2-dev, libxcomposite-dev, libxrender-dev, libx11-dev, libcairo2-dev, libpango1.0-dev, python-support, python-central, python-all, python-gtk2-dev
Standards-Version: 3.9.1
XS-Python-Version: 2.6
Homepage: http://code.google.com/p/bmpanel2/

Package: bmpanel2cfg
Architecture: all
XB-Python-Version: ${python:Versions}, ${misc:Depends}
Depends: ${python:Depends}, python-gtk2, bmpanel2
Description: Preferences manager for BitMap Panel
 BMpanel2cfg is a small graphical utility which configures 
 the BitMap Panel.
