#!/usr/bin/make -f
#DH_VERBOSE = 1

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

export DH_ALWAYS_EXCLUDE := .gitignore:LICENSE.txt

DEBIAN_CODENAME = $(shell echo $$DIST)
ifeq "$(DEBIAN_CODENAME)" ""
	DEBIAN_CODENAME = $(shell dpkg-parsechangelog | awk '/^Distribution: / {print $$2}')
endif
ifneq (,$(filter $(DEBIAN_CODENAME),trusty wily jessie wheezy)) 
	CONTROL = control.qt4
else
	CONTROL = control.qt5
	export QT_SELECT=5
endif

%:
	dh $@ --parallel

override_dh_auto_configure:
	cp debian/$(CONTROL) debian/control
	dh_auto_configure
	cp scripts/qcad_icon.svg debian/qcad.svg
	convert -resize 64x64 scripts/qcad_icon.svg debian/qcad.png

override_dh_auto_clean:
	cp debian/$(CONTROL) debian/control
	dh_auto_clean
