#!/usr/bin/make -f

export DEB_LDFLAGS_MAINT_APPEND=-Wl,-z,defs -Wl,--as-needed
export DEB_CXXFLAGS_MAINT_APPEND = $(shell dpkg-buildflags --get CXXFLAGS) -std=gnu++11


configure_flags := \
	--disable-dynamic-loading \
	--with-expat=system \
	--with-ffmpeg=system \
	--with-lame=system \
	--with-libid3tag=system \
	--with-libmad=system \
	--with-libsndfile=system \
	--with-libsoxr=system \
	--with-libtwolame=system \
	--with-libvamp=system \
	--with-midi=system \
	--with-portaudio=local \
	--with-portsmf=system \
	--with-sbsms=local \
	--with-soundtouch=system \
	--with-libvorbis=system 

DEBIAN_CODENAME = $(shell echo $$DIST)
ifeq "$(DEBIAN_CODENAME)" ""
	DEBIAN_CODENAME = $(shell dpkg-parsechangelog | awk '/^Distribution: / {print $$2}')
endif
ifneq (,$(filter $(DEBIAN_CODENAME), jessie)) 
	configure_flags += 	--with-libflac=local
	
else
	configure_flags += 	--with-libflac=system
endif
ifneq (,$(filter $(DEBIAN_CODENAME), jessie stretch buster xenial bionic eoan)) 
	configure_flags += 	--with-lv2=local
	
else
	configure_flags += 	--with-lv2=system
endif

ifneq (,$(filter $(DEBIAN_CODENAME), sid bullseye focal groovy hirsute impish))
	CONTROL = control.sid
else
	CONTROL = control.stretch
endif


%:
	dh $@ --parallel --with autoreconf

override_dh_auto_configure:
	cp debian/$(CONTROL) debian/control
	git show -s --format="#define REV_LONG \"%H\"%n#define REV_TIME \"%cd\"%n" | tee $(CURDIR)/src/RevisionIdent.h
	dh_auto_configure -- $(configure_flags)

# The tests fail to build as of version 2.0.6
override_dh_auto_test:

override_dh_auto_build:
	[ ! -f $(CURDIR)/lib-src/libflac/Makefile ] || ( cd $(CURDIR)/lib-src/libflac/ && make ) 
	dh_auto_build

override_dh_auto_install:
	dh_auto_install
	# Don't package unnecessary copy of GPL
	rm debian/tmp/usr/share/doc/audacity/LICENSE.txt

override_dh_auto_clean:
	cp debian/$(CONTROL) debian/control
	[ ! -f $(CURDIR)/src/RevisionIdent.h ] || rm -f $(CURDIR)/src/RevisionIdent.h
	dh_auto_clean
