Source: kvirc
Section: net
Priority: optional
Maintainer: Alexander Pozdnykov <almipo@mail.ru>
Build-Depends: debhelper (>= 7), cmake, g++, gcc, zlib1g-dev, libqt4-dev, gettext, libssl-dev, libperl-dev, libaudiofile-dev, graphviz, libxrender-dev, dpkg-dev, x11proto-scrnsaver-dev, subversion
Standards-Version: 3.8.3
Homepage: http://kvirc.net/

Package: kvirc
Architecture: any
Depends: kvirc-data (= ${source:Version}), ${shlibs:Depends}, ${misc:Depends}
Replaces: kvirc-data (<< ${source:Version})
Description: KDE based next generation IRC client with module support
 A highly configurable graphical IRC client with an MDI interface,
 built-in scripting language, support for IRC DCC, drag & drop file
 browsing, and much more. KVIrc uses the KDE widget set, can be extended
 using its own scripting language, integrates with KDE, and supports
 custom plugins.

Package: kvirc-data
Architecture: all
Suggests: kvirc (>= ${source:Version})
Conflicts: kvirc-doc, kvirc (<< 2:3.0.0)
Replaces: kvirc-doc
Description: Data files for KVIrc
 This package contains the architecture-independent data needed by KVIrc in
 order to run, such as icons and images, language files, and shell scripts.
 It also contains complete reference guides on scripting and functions
 within KVIrc in its internal help format. Unless you want to use KVIrc only
 as a very simple IRC client you are likely to want to write scripts to
 tailor KVIrc to your needs.

Package: kvirc-dev
Section: devel
Architecture: any
Depends: kvirc (>= ${source:Version})
Description: Development files for KVIrc
 This package contains KVIrc libraries and include files you need if you
 want to develop plugins for KVIrc.
