#! /usr/bin/make -f
#
REV=$(shell dpkg-parsechangelog | awk '/^Version: / {print $$2}' | sed 's/.*svn//' | sed 's/-.*//')

override_dh_auto_configure:
	dh_auto_configure -Skde -- -DWANT_COEXISTANCE=OFF \
			-DWANT_ESD=OFF -DWANT_OSS=OFF \
			-DWANT_CRYPTOPP=YES -DWANT_STRIP=OFF \
			-DCMAKE_SHARED_LINKER_FLAGS="-Wl,--no-undefined -Wl,--as-needed" \
			-DCMAKE_MODULE_LINKER_FLAGS="-Wl,--no-undefined -Wl,--as-needed" \
			-DCMAKE_EXE_LINKER_FLAGS="-Wl,--no-undefined -Wl,--as-needed" \
			-DMANUAL_REVISION=$(REV)

override_dh_install:
	dh_install --list-missing -XCOPYING

%:
	dh $@ --parallel --with kde


