#!/usr/bin/make -f
# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

DEBIAN_CODENAME = $(shell echo $$DIST)
ifeq "$(DEBIAN_CODENAME)" ""
	DEBIAN_CODENAME = $(shell dpkg-parsechangelog | awk '/^Distribution: / {print $$2}')
endif
ifneq (,$(filter $(DEBIAN_CODENAME),lucid karmic)) 
	BUILDDEBFLAGS= -- -Zlzma -z9
else
	BUILDDEBFLAGS= -- -Zxz -z9
endif

%:
	dh $@ --parallel

override_dh_clean:
	dh_clean -Xmuse/widgets/arrangercolumns.cpp~ \
		-Xmuse/widgets/arrangercolumns.h~

override_dh_auto_configure:
	dh_auto_configure -- -DCMAKE_BUILD_TYPE=release

override_dh_install:
	dh_install -pmuse-devel
	find $(CURDIR)/debian/muse-devel/ -name "COPYING*" -delete
	find $(CURDIR)/debian/muse-devel/ -name "LICENSE" -delete
	find $(CURDIR)/debian/muse-devel/ -name "ChangeLog*" -delete
	dh_install --remaining-packages
	#rm -rf $(CURDIR)/debian/muse-devel/usr/lib/muse/modules/lv2Gtk2Helper64.so
	#rm -rf $(CURDIR)/debian/muse-devel/usr/lib/muse/modules/lv2Gtk2Helper32.so

#override_dh_builddeb:
#	dh_builddeb $(BUILDDEBFLAGS)
