Source: ocrfeeder
Section: graphics
Priority: optional
Maintainer: Alexander Pozdnyakov <almipo@mail.ru>
Build-Depends: debhelper (>= 7), python-support, intltool, python-gtk2-dev, gnome-doc-utils, python-imaging-sane, python-enchant, python-gtkspell, python-pygoocanvas
Standards-Version: 3.9.2
Homepage: http://live.gnome.org/OCRFeeder

Package: ocrfeeder
Architecture: all
Depends: python-gtk2, python-gnome2, python-imaging-sane, python-enchant, python-gtkspell, python-pygoocanvas, ghostscript, ${misc:Depends}, ${python:Depends}, tesseract-ocr | ocrad | gocr | cuneiform | cuneiform-linux 
Recommends: unpaper, yelp
Description: Document layout analysis and optical character recognition system
 OCRFeeder is a document layout analysis and optical character
 recognition system.
 .
 Given the images it will automatically outline its contents,
 distinguish between what's graphics and text and perform OCR over the
 latter. It generates multiple formats being its main one ODT.
 .
 It features a complete GTK+ graphical user interface that allows the
 users to correct any unrecognized characters, defined or correct
 bounding boxes, set paragraph styles, clean the input images, import
 PDFs, save and load the project, export everything to multiple
 formats, etc.
