#!/usr/bin/make -f
#export DH_VERBOSE=1
#export DEB_BUILD_OPTIONS=nocheck

%:
	dh $@ --with python2

override_dh_auto_install:
	make install DESTDIR=debian/didjvu PREFIX=/usr
	make -C doc

override_dh_auto_test:
ifeq ($(filter nocheck,$(DEB_BUILD_OPTIONS)),)
	cd tests && set -e -x; \
	for python in $(shell pyversions -r); do \
		$$python /usr/bin/nosetests --all-modules --verbose; \
	done
endif
