#!/usr/bin/make -f
%:
	dh $@ --buildsystem=cmake --parallel --with python3

CPPFLAGS:=$(shell dpkg-buildflags --get CPPFLAGS) -Wall -fpermissive
CFLAGS:=$(shell dpkg-buildflags --get CFLAGS) $(CPPFLAGS)
CXXFLAGS:=$(shell dpkg-buildflags --get CXXFLAGS) $(CPPFLAGS)
LDFLAGS:=$(shell dpkg-buildflags --get LDFLAGS) -Wl,--as-needed

DEB_BUILD_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)

extra_flags += \
-DBUILD_QT5=ON \
-DFREECAD_BUILD_DEBIAN=ON \
-DCMAKE_CXX_FLAGS="$(CXXFLAGS) -I/usr/include/python$(shell py3versions --supported -v)" \
-DCMAKE_C_FLAGS="$(CFLAGS)" \
-DCMAKE_SHARED_LINKER_FLAGS="$(LDFLAGS)" \
-DLIB_SUFFIX="" \
-DCMAKE_INSTALL_PREFIX="/usr/lib/freecad-daily" \
-DCMAKE_INSTALL_DATADIR="/usr/share/freecad-daily" \
-DCMAKE_INSTALL_DOCDIR="/usr/share/doc/freecad-daily-doc" \
-DCMAKE_INSTALL_LIBDIR="/usr/lib/freecad-daily/lib" \
-DBUILD_FLAT_MESH=ON \
-DFREECAD_USE_PYBIND11=ON \
-DPYTHON_EXECUTABLE="/usr/bin/python3" \
-DCMAKE_BUILD_TYPE=RelWithDebInfo \
-DOCC_INCLUDE_DIR="/usr/include/opencascade"

override_dh_auto_configure:
	patch -p1 < debian/patches/fix_gcc8_ftbfs.patch
	dh_auto_configure -- $(extra_flags)

override_dh_compress:
	dh_compress -X.qch -X.qhc

override_dh_auto_install:
	dh_auto_install --destdir=debian/tmp

override_dh_installmime:
	dh_installmime
	dh_install debian/mime/freecad-daily-thumbnailer usr/bin
	dh_install debian/mime/freecad-daily.thumbnailer usr/share/thumbnailers
	dh_install debian/mime/freecad-daily.schemas etc/gconf/schemas

override_dh_icons:
	install -m 644 debian/tmp/usr/lib/freecad-daily/share/icons/hicolor/16x16/apps/freecad.png debian/freecad-daily/usr/share/icons/hicolor/16x16/apps/freecad-daily.png
	install -m 644 debian/tmp/usr/lib/freecad-daily/share/icons/hicolor/32x32/apps/freecad.png debian/freecad-daily/usr/share/icons/hicolor/32x32/apps/freecad-daily.png
	install -m 644 debian/tmp/usr/lib/freecad-daily/share/icons/hicolor/48x48/apps/freecad.png debian/freecad-daily/usr/share/icons/hicolor/48x48/apps/freecad-daily.png
	install -m 644 debian/tmp/usr/lib/freecad-daily/share/icons/hicolor/64x64/apps/freecad.png debian/freecad-daily/usr/share/icons/hicolor/64x64/apps/freecad-daily.png
	install -m 644 debian/tmp/usr/lib/freecad-daily/share/icons/hicolor/scalable/apps/freecad.svg debian/freecad-daily/usr/share/icons/hicolor/scalable/apps/freecad-daily.svg
