#!/usr/bin/make -f
%:
	dh $@ --buildsystem=cmake --parallel --with python2

DEB_BUILD_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)

extra_flags += \
-DFREECAD_BUILD_DEBIAN=ON \
-DCMAKE_CXX_FLAGS="-Wall -DHAVE_SWIG=1 -fpermissive $(shell dpkg-buildflags --get CXXFLAGS) $(shell dpkg-buildflags --get CPPFLAGS)" \
-DCMAKE_C_FLAGS="-Wall -fpermissive $(shell dpkg-buildflags --get CFLAGS) $(shell dpkg-buildflags --get CPPFLAGS)" \
-DCMAKE_SHARED_LINKER_FLAGS="$(shell dpkg-buildflags --get LDFLAGS)" \
-DLIB_SUFFIX="" \
-DCMAKE_INSTALL_PREFIX="/usr/lib/freecad-daily" \
-DCMAKE_INSTALL_DATADIR="/usr/share/freecad-daily" \
-DCMAKE_INSTALL_DOCDIR="/usr/share/doc/freecad-daily-doc" \
-DCMAKE_INSTALL_LIBDIR="/usr/lib/freecad-daily/lib" \
-DBUILD_FEM_NETGEN=OFF \
-DBUILD_FEM_VTK=ON \

DEBIAN_CODENAME = $(shell echo $$DIST)
ifeq "$(DEBIAN_CODENAME)" ""
	DEBIAN_CODENAME = $(shell dpkg-parsechangelog | awk '/^Distribution: / {print $$2}')
endif
ifneq (,$(filter $(DEBIAN_CODENAME),sid buster disco)) 
	CONTROL = control.qt5
	extra_flags += \
	-DBUILD_QT5=ON \
	-DPYTHON_CONFIG_SUFFIX="-python2.7.${DEB_HOST_MULTIARCH}" \
	-DCMAKE_BUILD_TYPE="Release" \
	-DOCC_INCLUDE_DIR="/usr/include/opencascade"
else
	CONTROL = control.qt4
	extra_flags += -DOCC_INCLUDE_DIR="/usr/include/oce"
endif

override_dh_auto_clean:
	echo $(DEBIAN_CODENAME)
	cp debian/$(CONTROL) debian/control
	dh_auto_clean

override_dh_auto_configure:
ifneq (,$(filter $(DEBIAN_CODENAME),sid buster disco)) 
	patch -p1 < debian/patches/fix_gcc8_ftbfs.patch
else
	echo "no patch"
endif
	cp debian/$(CONTROL) debian/control
	dh_auto_configure -- $(extra_flags)

override_dh_compress:
	dh_compress -X.qch -X.qhc

override_dh_installchangelogs:
	dh_installchangelogs ChangeLog.txt

override_dh_auto_install:
	dh_auto_install --destdir=debian/tmp

override_dh_installmime:
	dh_installmime
	dh_install debian/mime/freecad-daily-thumbnailer usr/bin
	dh_install debian/mime/freecad-daily.thumbnailer usr/share/thumbnailers
	dh_install debian/mime/freecad-daily.schemas etc/gconf/schemas

override_dh_icons:
	install -m 644 debian/freecad-daily/usr/share/freecad-daily/freecad-icon-16.png debian/freecad-daily/usr/share/icons/hicolor/16x16/apps/freecad-daily.png
	install -m 644 debian/freecad-daily/usr/share/freecad-daily/freecad-icon-32.png debian/freecad-daily/usr/share/icons/hicolor/32x32/apps/freecad-daily.png
	install -m 644 debian/freecad-daily/usr/share/freecad-daily/freecad-icon-48.png debian/freecad-daily/usr/share/icons/hicolor/48x48/apps/freecad-daily.png
	install -m 644 debian/freecad-daily/usr/share/freecad-daily/freecad-icon-64.png debian/freecad-daily/usr/share/icons/hicolor/64x64/apps/freecad-daily.png
	install -m 644 debian/freecad-daily/usr/share/freecad-daily/freecad.svg debian/freecad-daily/usr/share/icons/hicolor/scalable/apps/freecad-daily.svg

