#!/usr/bin/make -f
%:
	dh $@ --buildsystem=cmake --parallel --with python2

CPPFLAGS:=$(shell dpkg-buildflags --get CPPFLAGS) -Wall -fpermissive
CFLAGS:=$(shell dpkg-buildflags --get CFLAGS) $(CPPFLAGS)
CXXFLAGS:=$(shell dpkg-buildflags --get CXXFLAGS) $(CPPFLAGS)
LDFLAGS:=$(shell dpkg-buildflags --get LDFLAGS) -Wl,--as-needed

DEB_BUILD_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)
DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)
export DEB_BUILD_MAINT_OPTIONS = hardening=+all,+bindnow

extra_flags += \
-DFREECAD_BUILD_DEBIAN=ON \
-DCMAKE_C_FLAGS="$(CFLAGS)" \
-DCMAKE_SHARED_LINKER_FLAGS="$(LDFLAGS)" \
-DCMAKE_CXX_FLAGS="$(CXXFLAGS) -I/usr/include/python2.7" \
-DLIB_SUFFIX="" \
-DCMAKE_INSTALL_PREFIX="/usr/lib/freecad" \
-DCMAKE_INSTALL_DATADIR="/usr/share/freecad" \
-DCMAKE_INSTALL_DOCDIR="/usr/share/doc/freecad-doc" \
-DCMAKE_INSTALL_LIBDIR="/usr/lib/freecad/lib" \

DEBIAN_CODENAME = $(shell echo $$DIST)
ifeq "$(DEBIAN_CODENAME)" ""
	DEBIAN_CODENAME = $(shell dpkg-parsechangelog | awk '/^Distribution: / {print $$2}')
endif
ifneq (,$(filter $(DEBIAN_CODENAME),sid bullseye buster disco eoan focal groovy hirsute impish jammy))
	CONTROL = control.qt5
	extra_flags += \
	-DBUILD_QT5=ON \
	-DPYTHON_CONFIG_SUFFIX="-python2.7.${DEB_HOST_MULTIARCH}" \
	-DCMAKE_BUILD_TYPE="RelWithDebInfo" \
	-DOCC_INCLUDE_DIR="/usr/include/opencascade" \
	-DFREECAD_USE_PYBIND11=ON 
else
	
	CONTROL = control.qt4
	extra_flags += -DOCC_INCLUDE_DIR="/usr/include/oce" \
	-DCMAKE_BUILD_TYPE="RelWithDebInfo"
endif

override_dh_auto_clean:
	echo $(DEBIAN_CODENAME)
	cp debian/$(CONTROL) debian/control
	dh_auto_clean

override_dh_auto_install:
	dh_auto_install --destdir=debian/tmp

override_dh_auto_configure:
ifneq (,$(filter $(DEBIAN_CODENAME),sid bullseye buster disco eoan focal groovy hirsute impish jammy))
	patch -p1 < debian/patches/fix_gcc8_ftbfs.patch
else
	echo "no patch"
endif
	cp debian/$(CONTROL) debian/control
	dh_auto_configure -- $(extra_flags)

override_dh_compress:
	dh_compress -X.qch -X.qhc

override_dh_installchangelogs:
	dh_installchangelogs ChangeLog.txt
	
override_dh_installmime:
	dh_installmime
	dh_install debian/mime/freecad-thumbnailer usr/bin
	dh_install debian/mime/freecad.thumbnailer usr/share/thumbnailers
	dh_install debian/mime/freecad.schemas etc/gconf/schemas

override_dh_icons:
	install -m 644 debian/freecad/usr/share/freecad/freecad-icon-16.png debian/freecad/usr/share/icons/hicolor/16x16/apps/freecad.png
	install -m 644 debian/freecad/usr/share/freecad/freecad-icon-32.png debian/freecad/usr/share/icons/hicolor/32x32/apps/freecad.png
	install -m 644 debian/freecad/usr/share/freecad/freecad-icon-48.png debian/freecad/usr/share/icons/hicolor/48x48/apps/freecad.png
	install -m 644 debian/freecad/usr/share/freecad/freecad-icon-64.png debian/freecad/usr/share/icons/hicolor/64x64/apps/freecad.png
	install -m 644 debian/freecad/usr/share/freecad/freecad.svg debian/freecad/usr/share/icons/hicolor/scalable/apps/freecad.svg
