Source: tesseract-lang-old
Section: graphics
Priority: optional
Maintainer: Alexander Pozdnyakov <almipo@mail.ru>
Build-Depends: debhelper (>= 9)
Standards-Version: 4.1.3
Homepage: https://github.com/tesseract-ocr/

Package: tesseract-ocr-dan-frak
Architecture: all
Provides: tesseract-ocr-language, tesseract-ocr-lang
Depends: ${misc:Depends}
Recommends: tesseract-ocr (>= 3.99)
Breaks: tesseract-ocr (<< 3.99)
Replaces: tesseract-ocr-data (<< 2)
Description: tesseract-ocr language files for Danish (Fraktur) (legacy)
 Tesseract is an open source Optical Character Recognition (OCR)
 Engine. It can be used directly, or (for programmers) using an API to
 extract printed text from images. This package contains the data
 needed for processing images in the Danish (Fraktur) language.

Package: tesseract-ocr-deu-frak
Architecture: all
Provides: tesseract-ocr-language, tesseract-ocr-lang
Depends: ${misc:Depends}
Recommends: tesseract-ocr (>= 3.99)
Breaks: tesseract-ocr (<< 3.99)
Replaces: tesseract-ocr-data (<< 2)
Description: tesseract-ocr language files for German (Fraktur) (legacy)
 Tesseract is an open source Optical Character Recognition (OCR)
 Engine. It can be used directly, or (for programmers) using an API to
 extract printed text from images. This package contains the data
 needed for processing images in the German (Fraktur) language.

Package: tesseract-ocr-kur
Architecture: all
Provides: tesseract-ocr-language, tesseract-ocr-lang
Depends: ${misc:Depends}
Recommends: tesseract-ocr (>= 3.99)
Breaks: tesseract-ocr (<< 3.99)
Replaces: tesseract-ocr-data (<< 2)
Description: tesseract-ocr language files for Kurdish (legacy)
 Tesseract is an open source Optical Character Recognition (OCR)
 Engine. It can be used directly, or (for programmers) using an API to
 extract printed text from images. This package contains the data
 needed for processing images in the Kurdish language.

Package: tesseract-ocr-slk-frak
Architecture: all
Provides: tesseract-ocr-language, tesseract-ocr-lang
Depends: ${misc:Depends}
Recommends: tesseract-ocr (>= 3.99)
Breaks: tesseract-ocr (<< 3.99)
Replaces: tesseract-ocr-data (<< 2)
Description: tesseract-ocr language files for Slovak (Fraktur) (legacy)
 Tesseract is an open source Optical Character Recognition (OCR)
 Engine. It can be used directly, or (for programmers) using an API to
 extract printed text from images. This package contains the data
 needed for processing images in the Slovak (Fraktur) language.

Package: tesseract-ocr-tgl
Architecture: all
Provides: tesseract-ocr-language, tesseract-ocr-lang
Depends: ${misc:Depends}
Recommends: tesseract-ocr (>= 3.99)
Breaks: tesseract-ocr (<< 3.99)
Replaces: tesseract-ocr-data (<< 2)
Description: tesseract-ocr language files for Tagalog (legacy)
 Tesseract is an open source Optical Character Recognition (OCR)
 Engine. It can be used directly, or (for programmers) using an API to
 extract printed text from images. This package contains the data
 needed for processing images in the Tagalog language.

Package: tesseract-ocr-equ
Architecture: all
Provides: tesseract-ocr-language, tesseract-ocr-lang
Depends: ${misc:Depends}
Recommends: tesseract-ocr (>= 3.99)
Breaks: tesseract-ocr (<< 3.99)
Replaces: tesseract-ocr-data (<< 2)
Description: tesseract-ocr language files for equations
 Tesseract is an open source Optical Character Recognition (OCR)
 Engine. It can be used directly, or (for programmers) using an API to
 extract printed text from images. This package contains the data
 needed for processing images of mathematics.

